<div class="raw base fundarea">

    <div class="col-12 fundList">

        <div class="fundsum">
            <label>{{ 'B31.002' | i18n }}</label><span>USD $ {{CostSum | noTrans}}</span>
        </div>
        <ng-container *ngIf="FData && FData.length == 0">
            <div class="emptyFund top_shadow">
                <div class="info">
                    <img src="assets/img/gain.png">
                    <span>{{ 'B31.050' | i18n }}</span>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="FData && FData.length > 0">
            <ng-container *ngFor="let item of FData;">
                <div class="fundcard top_shadow" (click)="ToDetail(item)" routerLink="">
                    <span class="fname">{{item.FundsNo}}</span>
                    <h1>{{item.FundsName}}</h1>
                    <div class="ftag">
                        <span>{{item.FundTypeName}}</span>
                        <span *ngFor="let b of item.BuyTypeName;">{{b}}</span>
                    </div>
                    <hr />
                    <div class="finfo list">
                        <div class="fmsg">
                            <label>{{ 'B31.010' | i18n }}({{ 'B31.047' | i18n }})</label>
                            <span class="up" *ngIf="item.Profit >= 0">USD ${{item.Profit | noTrans}}</span>
                            <span class="down" *ngIf="item.Profit < 0">USD ${{item.Profit | noTrans}}</span>
                        </div>
                        <div class="fmsg">
                            <label>{{ 'B31.012' | i18n }}</label>
                            <span class="">USD ${{item.Cost | noTrans}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <!-- <div class="fundcard top_shadow">
            <span class="fname">90000000089A</span>
            <h1>基金名稱基金名稱基金名稱基金名稱基金名稱 A</h1>
            <div class="ftag">
                <span>避险基金</span>
                <span>定投</span>
            </div>
            <hr />
            <div class="finfo">
                <div class="fmsg">
                    <label>含息损益</label>
                    <span class="down">+ USD $11,111,887.00</span>
                </div>
                <div class="fmsg">
                    <label>投资成本</label>
                    <span class="">USD $13,419,510.00</span>
                </div>
            </div>
        </div> -->
    </div>

    <ng-container *ngIf="FData && FData.length == 0">
        <div class="share">
            <div class="col-12">
                <div class="btn btn-golden" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'2' }">{{ 'C121.019' | i18n }}</div>
            </div>
        </div>
    </ng-container>

</div>
