
<!-- 基金 - 避險 -->
<ng-container *ngIf="Data && FundType == '2'">
        <div class="raw base fundarea" style="padding-top: 0">
                <div class="col-12 fundList">

                    <div class="fundcard top_shadow">

                        <span class="fname">{{FData.FundsNo}}</span>
                        <h1>{{FData.FundsName}}</h1>
                        <div class="ftag">
                            <span>{{FData.FundTypeName}}</span>
                            <span *ngFor="let b of FData.BuyTypeName;">{{b}}</span>
                        </div>
                        <hr/>

                        <div class="finfo list">
                            <div class="fmsg">
                                <label>{{ 'B31.020' | i18n }}({{ 'B31.047' | i18n }})</label>
                                <span class="up xs" *ngIf="FData.Profit >= 0">USD ${{FData.Profit | noTrans}}</span>
                                <span class="down xs" *ngIf="FData.Profit < 0">USD ${{FData.Profit | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.011' | i18n }}({{ 'B31.047' | i18n }})</label>
                                <span class="up xs" *ngIf="Data.BonusProfitRage >= 0">+{{Data.BonusProfitRage | noTrans}}%</span>
                                <span class="down xs" *ngIf="Data.BonusProfitRage < 0">{{Data.BonusProfitRage | noTrans}}%</span>
                            </div>
                        </div>
                        <hr/>

                        <div class="finfo list">
                            <div class="fmsg">
                                <label>{{ 'B31.012' | i18n }}</label>
                                <span class="up xs">USD ${{FData.Cost | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.013' | i18n }}</label>
                                <span class="up xs">{{FData.UnitCount | noTrans}}</span>
                            </div>
                        </div>
                        <hr/>

                        <ng-container *ngIf="Data.MonthPayAmt && FData.BuyType[0] != '1'">
                            <div class="finfo list">
                                <div class="fmsg">
                                    <label>{{ 'B31.014' | i18n }}</label>
                                    <span class="up xs">USD ${{Data.MonthPayAmt | noTrans}}</span>
                                </div>
                                <div class="fmsg">
                                    <label>&nbsp;</label>
                                    <span class="up" *ngIf="Data.PayStatus == '1'">{{Data.PayStatusName}}</span>
                                    <span class="down" *ngIf="Data.PayStatus == '2'">{{Data.PayStatusName}}</span>
                                </div>
                            </div>
                            <hr/>
                        </ng-container>

                        <div class="finfo flist">
                            <div class="fmsg">
                                <label>{{ 'B31.018' | i18n }}</label><span>USD ${{Data.UnitValue | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.013' | i18n }}</label><span>{{Data.UnitCount | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.012' | i18n }}</label><span>USD ${{Data.Cost | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.019' | i18n }}</label><span>USD ${{Data.NowValue | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.020' | i18n }}({{ 'B31.046' | i18n }})</label><span>USD ${{Data.NoBonusProfit | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.021' | i18n }}({{ 'B31.046' | i18n }})</label><span>{{Data.NoBonusProfitRage | noTrans}}%</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.022' | i18n }}</label><span>USD ${{Data.BonusSum | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.020' | i18n }}({{ 'B31.047' | i18n }})</label><span>USD ${{Data.BonusProfit | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.021' | i18n }}({{ 'B31.047' | i18n }})</label><span>{{Data.BonusProfitRage | noTrans}}%</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.023' | i18n }}</label><span>{{Data.UnitValueDate}}</span>
                            </div>
                        </div>

                        <div class="center" style="margin-top:2rem;">
                            <button type="button" class="btn-outline-golden" (click)="Report()">{{ 'B31.052' | i18n }}</button>
                        </div>

                    </div>

                    <div class="fundcard top_shadow" *ngIf="ChartList">
                        <label class="tilte">{{ 'B31.025' | i18n }}</label>
                         <ul class="yearSelect">
                             <ng-container *ngFor="let c of ChartList;">
                                    <li class="{{c.active ? 'active' : ''}}" (click)="SetChart(c)">{{c.Year}}</li>
                             </ng-container>
                        </ul>
                        <fund-chart [SourceData]="ChartData"></fund-chart>
                        <!-- <img style="width: 100%;" src="assets/img/temp/c.png"> -->
                    </div>

                    <div class="fundcard top_shadow" *ngIf="FilterRecord">
                            <label class="tilte" style="margin-bottom: 1rem;display: block;">{{ 'B31.053' | i18n }}</label>
                            <div class="select-container">
                                <select class="form-control" [(ngModel)]="TypeSelect" (change)="Filter()">
                                    <option [value]="''">{{ 'B31.028' | i18n }}</option>
                                    <ng-container *ngFor="let opt of TypeOpt">
                                        <option [value]="opt.Value">{{opt.Name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <span class="sm">{{ 'B31.054' | i18n }} {{FilterRecord.length}} {{ 'B31.055' | i18n }}</span>
                            <hr/>

                            <ng-container *ngFor="let item of FilterRecord">
                                <!-- 申購 -->
                                <ng-container *ngIf="item.TxnType == '1'">
                                    <label class="ftitle">{{ 'B31.029' | i18n }}</label>
                                    <div class="finfo flist">
                                        <div class="fmsg">
                                            <label>{{ 'B31.032' | i18n }}</label><span>{{item.TxnNo}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.033' | i18n }}</label><span>{{item.TxnDate}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.039' | i18n }}</label><span>{{item.Unit | noTrans}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.040' | i18n }}</label><span>USD ${{item.PurchaseVal | noTrans}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.041' | i18n }}<br/>
                                                <span>({{ 'B31.045' | i18n }})</span>
                                            </label>
                                            <span>USD ${{item.PurchaseAmt | noTrans}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.038' | i18n }}</label><span>USD ${{item.HandlingFee | noTrans}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                                <!-- 贖回 -->
                                <ng-container *ngIf="item.TxnType == '2'">
                                    <label class="ftitle">{{ 'B31.030' | i18n }}</label>
                                    <div class="finfo flist">
                                        <div class="fmsg">
                                            <label>{{ 'B31.032' | i18n }}</label><span>{{item.TxnNo}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.033' | i18n }}</label><span>{{item.TxnDate}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.034' | i18n }}</label><span>{{item.Unit | noTrans}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.035' | i18n }}</label><span>USD ${{item.RedemptionVal | noTrans}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.037' | i18n }}<br/>
                                                <span>({{ 'B31.045' | i18n }})</span>
                                            </label>
                                            <span>USD ${{item.RedemptionAmt | noTrans}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.036' | i18n }}</label><span>USD ${{item.PrefFee | noTrans}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.038' | i18n }}</label><span>USD ${{item.HandlingFee | noTrans}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                                <!-- 分紅 -->
                                <ng-container *ngIf="item.TxnType == '3'">
                                    <label class="ftitle">{{ 'B31.031' | i18n }}</label>
                                    <div class="finfo flist">
                                        <div class="fmsg">
                                            <label>{{ 'B31.056' | i18n }}</label><span>{{item.TxnDate}}</span>
                                        </div>
                                        <div class="fmsg">
                                            <label>{{ 'B31.042' | i18n }}</label><span>USD ${{item.DividendAmt | noTrans}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                                <hr/>
                            </ng-container>
                        </div>
                    <div class="fundcard top_shadow center" style="margin-top: 1rem;">
                        <button type="submit" class="btn-golden" style="margin-bottom: 1rem" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'3' }">{{ 'B31.043' | i18n }}</button>
                        <button type="submit" class="btn-golden" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'3' }">{{ 'B31.044' | i18n }}</button>
                    </div>
                </div>
        </div>
</ng-container>

<!-- 基金 - 私募 -->
<ng-container *ngIf="Data && FundType == '1'">
<div class="raw base fundarea" style="padding-top: 0">
        <div class="col-12 fundList">
            <div class="fundcard top_shadow">
                <span class="fname">{{FData.FundsNo}}</span>
                <h1>{{FData.FundsName}}</h1>
                <div class="ftag">
                    <span>{{FData.FundTypeName}} {{ 'B11.003' | i18n }}</span>
                    <span *ngFor="let b of FData.BuyTypeName;">{{b}}</span>
                </div>
                <hr/>
                <div class="finfo list">
                    <div class="fmsg">
                        <label>{{ 'B31.012' | i18n }}</label>
                        <span class="up xs">USD ${{FData.Cost | noTrans}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B31.013' | i18n }}</label>
                        <span class="up xs">{{FData.UnitCount | noTrans}}</span>
                    </div>
                </div>
                <div class="center" style="margin-top:2rem;">
                    <button type="button" class="btn-outline-golden" (click)="Report()">{{ 'B31.052' | i18n }}</button>
                </div>
            </div>

            <div class="fundcard top_shadow" *ngIf="FilterRecord">
                <label class="tilte" style="margin-bottom: 1rem;display: block;">{{ 'B31.053' | i18n }}</label>
                <div class="select-container">
                    <select class="form-control" [(ngModel)]="TypeSelect" (change)="Filter()">
                        <option [value]="''">{{ 'B31.028' | i18n }}</option>
                        <ng-container *ngFor="let opt of TypeOpt">
                            <option [value]="opt.Value">{{opt.Name}}</option>
                        </ng-container>
                    </select>
                </div>
                <span class="sm">{{ 'B31.054' | i18n }} {{FilterRecord.length}} {{ 'B31.055' | i18n }}</span>
                <hr/>

                <ng-container *ngFor="let item of FilterRecord">
                    <!-- 申購 -->
                    <ng-container *ngIf="item.TxnType == '1'">
                        <label class="ftitle">{{ 'B31.029' | i18n }}</label>
                        <div class="finfo flist">
                            <div class="fmsg">
                                <label>{{ 'B31.032' | i18n }}</label><span>{{item.TxnNo}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.033' | i18n }}</label><span>{{item.TxnDate}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.039' | i18n }}</label><span>{{item.Unit | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.040' | i18n }}</label><span>USD ${{item.PurchaseVal | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.041' | i18n }}<br/>
                                    <span>({{ 'B31.045' | i18n }})</span>
                                </label>
                                <span>USD ${{item.PurchaseAmt | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.038' | i18n }}</label><span>USD ${{item.HandlingFee | noTrans}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <!-- 贖回 -->
                    <ng-container *ngIf="item.TxnType == '2'">
                        <label class="ftitle">{{ 'B31.030' | i18n }}</label>
                        <div class="finfo flist">
                            <div class="fmsg">
                                <label>{{ 'B31.032' | i18n }}</label><span>{{item.TxnNo}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.033' | i18n }}</label><span>{{item.TxnDate}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.034' | i18n }}</label><span>{{item.Unit | noTrans}}</span>
                            </div>
                            
                            <div class="fmsg">
                                <label>{{ 'B31.035' | i18n }}</label><span>USD ${{item.RedemptionVal | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.037' | i18n }}<br/>
                                    <span>({{ 'B31.045' | i18n }})</span>
                                </label>
                                <span>USD ${{item.RedemptionAmt | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.036' | i18n }}</label><span>USD ${{item.PrefFee | noTrans}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.038' | i18n }}</label><span>USD ${{item.HandlingFee | noTrans}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <!-- 分紅 -->
                    <ng-container *ngIf="item.TxnType == '3'">
                        <label class="ftitle">{{ 'B31.031' | i18n }}</label>
                        <div class="finfo flist">
                            <div class="fmsg">
                                <label>{{ 'B31.056' | i18n }}</label><span>{{item.TxnDate}}</span>
                            </div>
                            <div class="fmsg">
                                <label>{{ 'B31.042' | i18n }}</label><span>USD ${{item.DividendAmt | noTrans}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <hr/>
                </ng-container>

                <!-- <label class="ftitle">申购</label>
                <div class="finfo flist">
                    <div class="fmsg">
                        <label>订单号</label><span>SX0190007304</span>
                    </div>
                    <div class="fmsg">
                        <label>订单日期</label><span>2019/04/17</span>
                    </div>
                    <div class="fmsg">
                        <label>赎回份额</label><span>USD $27.84</span>
                    </div>
                    <div class="fmsg">
                        <label>赎回淨值</label><span>USD $13,419.51</span>
                    </div>
                    <div class="fmsg">
                        <label>绩效费</label><span>USD $78.00</span>
                    </div>
                    <div class="fmsg">
                        <label>
                            赎回总金额<br/>
                            <span>(不含手续费)</span>
                        </label>
                        <span>USD $1,778,347.00</span>
                    </div>
                </div>
                <hr/> -->

            </div>
            <div class="fundcard top_shadow center" style="margin-top: 1rem;">
                <button type="submit" class="btn-golden" style="margin-bottom: 1rem" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'3' }">{{ 'B31.043' | i18n }}</button>
                <button type="submit" class="btn-golden" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'3' }">{{ 'B31.044' | i18n }}</button>
            </div>
        </div>
</div>
</ng-container>



