

        <div class="raw base fundarea" style="padding-top: 0">
                <div class="col-12 fundList">
        
                    <div class="fundcard top_shadow">
                        <ng-container *ngFor="let item of Data">
                            <div class="finfo" openUrl="{{item.FileUrl}}">
                                    <div class="fmsg record">
                                        <label>{{item.Year}}/{{item.Month}}</label>
                                    </div>
                            </div>
                            <hr/>
                        </ng-container>
                        
                    </div>
            
                </div>
        </div>




