<div class="fundchart" *ngIf="SourceData">
    <div class="chartTop">
        <label>{{SourceData.Year}}/{{(LastMonthIndex>9)?(LastMonthIndex+1):'0'+(LastMonthIndex+1)}}</label>
        <div class="{{UpperClase}}">
            <h1 *ngIf="AddPoint > 0">USD ${{SourceData['yAxes'][LastMonthIndex] | noTrans}}</h1>
            <h1 *ngIf="AddPoint < 0">USD ${{SourceData['yAxes'][LastMonthIndex] | noTrans}}</h1>
            <div *ngIf="AddPoint > 0">
                <label>+{{AddPoint | noTrans}}</label>
                <label>+{{DiffPercent | noTrans}}%</label>
            </div>
            <div *ngIf="AddPoint < 0">
                <label>{{AddPoint | noTrans}}</label>
                <label>{{DiffPercent | noTrans}}%</label>
            </div>
        </div>
    </div>
     <canvas id="Lchart" style="width:100%;height:100%;"></canvas>
     <div class="upd">{{ 'B31.026' | i18n }} : {{SourceData.LastUpdate}}({{ 'B31.048' | i18n }})</div>
</div>
