<style>
    .chart{
        position: relative;
        margin: 1vw;
        margin-bottom: 4vw;
    }
    .chart .percent,.chart .inline,.chart_tag{
        position: absolute;
    }
    .chart .percent{
        color:#E1B700;
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
        top:37vw;
    }
    .chart .percent.zero{
        color:#000;
    }
    .chart .percent span{
        font-size: 1rem;padding-left: 0.25rem;
    }
    .chart .inline{
      border: 1px solid #E7E9EB;
      width: 46vw;
      height: 46vw;
      border-radius: 46vw;
      left: 26vw;
      top:22vw;
    }
    .chart_tag{
        width: 100%;
        text-align: center;
        bottom: 2vw;
    }
    .chart_tag li{
        display: inline-block;
        font-size: 0.88rem;color:#898989;
        padding: 0.5rem;
    }
    .chart_tag li span{
        width:0.75rem;height: 0.75rem;
        display: inline-block;
    }
</style>
<ng-container *ngIf="SourceData">
    <div class="chart">
        <h1 class="percent {{(percent == 0) ? 'zero' : ''}}">{{percent}}<span>%</span></h1>
        <div class="inline"></div>
        <canvas id="Cchart" style="width:100%;height:100%;"></canvas>
        <ul class="chart_tag">
            <li>
                <span style="background-color: #FACE34"></span>
                {{this.SourceData.label[0]}}
            </li>
            <li>
                <span style="background-color: #FFE498"></span>
                {{this.SourceData.label[1]}}
            </li>
            <li>
                <span style="background-color: #D9A41F"></span>
                {{this.SourceData.label[2]}}
            </li>
        </ul>
   </div>
</ng-container>

