<div class="raw basic">
 
  <ng-container *ngIf="Estate">

    <div class="income" style="padding-top: 2rem">
        <label>{{ 'B21.002' | i18n }}</label>
        <span>USD $ {{Sum | noTrans}}</span>
      </div>
      <ng-container *ngIf="Income.length > 0">
        <div class="income">
            <label>{{LastMonth}} {{ 'B21.003' | i18n }}</label>
            <span>USD $ {{ (Income[Income.length-1]) | noTrans}}</span>
        </div>
      </ng-container>
      
  
    <line-chart [SourceData]="chartData"></line-chart>

    <ng-container *ngIf="EstateList.length == 0">
        <div class="emptyCnt top_shadow">
            <img src="assets/img/Assets.png">
            <span>
              {{ 'B211.001' | i18n }}
            </span>
        </div>
  
         <div class="share">
            <div class="col-12">
                <div class="btn btn-golden" routerLink="/layout/estate">{{ 'B211.002' | i18n }}</div>
            </div>
        </div>
    </ng-container>

    <div class="card top_shadow fill_bottom">
         <ng-container *ngFor="let est of EstateList;">
                <div class="est_info" (click)="View(est)">
                    <div class="img">
                       <img [src]="est.Img"/>
                       <ng-container *ngIf="est.SaleType != '2'">
                         <span>{{est.SaleTypeName}}</span>
                       </ng-container>
                    </div>
                    <div class="info">
                        <span>{{est.EstateNo}}</span>
                        <h3>{{est.EstateName}}</h3>
                        <span>{{est.RoomName}}</span>
                    </div>
                </div>
        </ng-container>

        <!-- <div class="est_info" routerLink="/layout/estateUnFinish">
            <div class="img">
               <img src="assets/img/temp/trd2.png"/>
              <span>开发中</span>
            </div>
            <div class="info">
                <span>AbcB0005123591</span>
                <h3>Picasso City Garden 毕加索城市花园</h3>
                <span>23 I</span>
            </div>
        </div>
  
        <div class="est_info" routerLink="/layout/estateFinish">
            <div class="img">
              <img src="assets/img/temp/trd2.png"/>
              <span>包租中</span>
            </div>
            <div class="info">
                <span>AbcB0005123591</span>
                <h3>Picasso City Garden 毕加索城市花园</h3>
                <span>23 I</span>
            </div>
        </div>
  
        <div class="est_info" routerLink="/layout/estateFinish">
            <div class="img">
              <img src="assets/img/temp/trd2.png"/>
              <span>出租中</span>
            </div>
            <div class="info">
                <span>AbcB0005123591</span>
                <h3>Picasso City Garden 毕加索城市花园</h3>
                <span>23 I</span>
            </div>
        </div>
  
        <div class="est_info" routerLink="/layout/estateFinish">
            <div class="img">
              <img src="assets/img/temp/trd2.png"/>
              <span>待租中</span>
            </div>
            <div class="info">
                <span>AbcB0005123591</span>
                <h3>Picasso City Garden 毕加索城市花园</h3>
                <span>23 I</span>
            </div>
        </div> -->
     </div>
  </ng-container>
</div>