<div class="raw mestateblock">

        <div class="mestate">
            <div class="pic">
            <img [src]="Temp.Img"/>
            <span  *ngIf="SaleType != '2'">{{Temp.SaleTypeName}}</span>
            </div>
            <div class="info">
                <p class="no">{{Temp.EstateNo}}</p>
                <h1>{{Temp.EstateName}}</h1>
                <p class="tag" style="font-size: 0.96rem">{{Temp.RoomName}}</p>
            </div>
        </div>

        <ul class="card_tab top_shadow" id="tabselect">
            <li class="{{(tab == 1) ? 'active': ''}}" (click)="tabset(1)">{{ 'B2221.001' | i18n }}</li>
            <li class="{{(tab == 2) ? 'active': ''}}" (click)="tabset(2)">{{ 'B2221.002' | i18n }}</li>
            <li class="{{(tab == 3) ? 'active': ''}}" (click)="tabset(3)">{{ 'B2221.003' | i18n }}</li>
        </ul>

        <div class="tab_estate fadeIn animated" *ngIf="(tab == 1)">

            <ng-container *ngIf="Income.length > 0">

                <ul class="yearSelect">
                    <ng-container *ngFor="let icm of Income;let iIndex = index;">
                        <li class="{{(icm.active) ? 'active' : ''}}" (click)="ViewImcome(iIndex)">{{icm.Year}}</li>
                    </ng-container>
                    <!-- <li class="active">2019</li>
                    <li>2018</li> -->
                </ul>
                
                <div class="card gaininfo">
                        <div class="gainitem">
                            <label>{{ 'B224.002' | i18n }}</label><span>{{ Yavg | noTrans }} %</span>
                        </div>
                        <div class="gainitem">
                            <label>{{ 'B224.003' | i18n }}</label><span>USD $ {{ Ysum | noTrans }}</span>
                        </div>
                </div>
            </ng-container>
           

            
            <div class="gain top_shadow">

               <!-- 有資料 -->
               <table>
                   <tr>
                       <th>{{ 'B224.004' | i18n }}</th>
                       <th>{{ 'B224.005' | i18n }}</th>
                       <th>{{ 'B224.006' | i18n }}</th>
                       <th></th>
                   </tr>
                   
                  
                     <tr *ngFor="let md of YearData;">
                        <td>{{monthName[(md.Month-1)]}}</td>
                        <td>{{ md.Income | noTrans }}</td>
                        <td>{{ md.Expense| noTrans }}</td>
                        <td>
                           <span *ngIf="md.PdfFile != ''" class="more" openUrl="{{md.PdfFile}}">{{ 'B224.007' | i18n }}</span>
                        </td>
                     </tr>
                   <!-- <tr>
                        <td>11月</td>
                        <td>100,000.00</td>
                        <td>50,000.00</td>
                        <td><span class="more">明細</span></td>
                    </tr> -->
               </table>

               <!-- 沒資料 -->
               <ng-container *ngIf="Income.length == 0">
                    <div class="emptyGain top_shadow">
                            <img src="assets/img/gain.png">
                            <span>{{ 'B2241.001' | i18n }}</span>
                    </div>
               </ng-container>
               <!-- <table>
                    <tr>
                        <th>月份</th>
                        <th>收入(美元)</th>
                        <th>支出(美元)</th>
                    </tr>
                </table>
                <div class="emptyGain top_shadow">
                        <img src="assets/img/gain.png">
                        <span>尚無收益紀錄</span>
                </div> -->

            </div>
            <ng-container *ngIf="SaleType == '2'">
                <div class="card">
                    <button type="button" class="btn-golden" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'6' }">{{ 'B224.008' | i18n }}</button>
                </div>
            </ng-container>

        </div>

        <div class="tab_estate fadeIn animated" *ngIf="(tab == 2)">


                <!-- 無任何委託 狀態-->
                <ng-container *ngIf="SaleType == '2'">
                    <div class="emptyCnt top_shadow">
                            <img src="assets/img/Assets.png">
                            <span>
                                {{ 'B2231.001' | i18n }}
                            </span>
                    </div>
                    <div class="card">
                        <div class="center">
                                <button type="button" class="btn-golden" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'6' }">{{ 'B224.008' | i18n }}</button>
                        </div>
                    </div>
                </ng-container>
                <!-- 無任何委託 狀態-->

                <!-- 委託出租合约 未出租 狀態 -->
                <ng-container *ngIf="SaleType == '3'">
                    <div class="emptyCnt top_shadow">
                        <img src="assets/img/Assets.png">
                        <span>
                            {{ 'B2232.001' | i18n }}
                        </span>
                    </div>
                    <ng-container *ngIf="MngData">
                        <div class="card payinfo ">
                            <div class="payitem">
                                    <label>{{ 'B2232.002' | i18n }}</label><span>{{MngData.ManageStart}} - {{MngData.ManageEnd}}</span>
                            </div>
                            <ng-container *ngIf="MngData.ManageFile != ''">
                                <div class="center" style="margin-top:1.5rem;">
                                        <button type="button" class="btn-outline-golden" openUrl="{{MngData.ManageFile}}">{{ 'B2232.003' | i18n }}</button>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="MngData.ManageFile == ''">
                                <div class="center" style="margin-top:1.5rem;">
                                        <button type="button" disabled class="btn-outline-golden">{{ 'B2232.003' | i18n }}</button>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    
                </ng-container>
                <!-- 委託出租合约 未出租 狀態 -->

                <!-- 委託出租合约 已經出租 狀態 -->
                <ng-container *ngIf="SaleType == '5'">

                    <ng-container *ngIf="RentData">
                        <div class="card payinfo">
                                <h3>{{ 'B2233.001' | i18n }}</h3>
                                <div class="payitem">
                                    <label class="rentTitle">{{ 'B2233.002' | i18n }}</label>
                                    <span class="rent">USD $ {{ RentData.Rent | noTrans}}/{{'B224.004' | i18n }}
                                        <span class="alert" *ngIf="!RentData.IsPay">{{ 'B2233.003' | i18n }}</span>
                                    </span>
                                </div>
                                <div class="payitem">
                                    <label>{{ 'B2233.005' | i18n }}</label><span>{{RentData.RendName}}</span>
                                </div>
                                <div class="payitem">
                                    <label>{{ 'B2233.006' | i18n }}</label><span>{{RentData.Gender}}</span>
                                </div>
                                <div class="payitem">
                                    <label>{{ 'B2233.007' | i18n }}</label><span>{{RentData.RendIDNo | Idno}}</span>
                                </div>
                                <div class="payitem">
                                    <label>{{ 'B2233.008' | i18n }}</label><span>{{RentData.Birth}}</span>
                                </div>
                                <div class="payitem">
                                    <label>{{ 'B2233.009' | i18n }}</label><span>{{RentData.RendStart}} ~ {{RentData.RendEnd}}</span>
                                </div>
                                <ng-container *ngIf="RentData.RendFile != ''">
                                    <div class="center" style="margin-top:1.5rem;">
                                            <button type="button" class="btn-outline-golden" openUrl="{{RentData.RendFile}}">{{ 'B2233.010' | i18n }}</button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="RentData.RendFile == ''">
                                    <div class="center" style="margin-top:1.5rem;">
                                            <button type="button" disabled class="btn-outline-golden">{{ 'B2233.010' | i18n }}</button>
                                    </div>
                                </ng-container>
                            </div>
                    </ng-container>
                        
                    
                    <ng-container *ngIf="MngData">
                        <div class="card payinfo" style="padding-top: 0;">
                                <div class="payitem" style="padding-top: 1rem;border-top: 1px solid #E7E9EB;">
                                        <label>{{ 'B2233.011' | i18n }}</label><span>{{MngData.ManageStart}} - {{MngData.ManageEnd}}</span>
                                </div>
                                <ng-container *ngIf="MngData.ManageFile != ''">
                                    <div class="center" style="margin-top:1.5rem;">
                                            <button type="button" class="btn-outline-golden" openUrl="{{MngData.ManageFile}}">{{ 'B2233.012' | i18n }}</button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="MngData.ManageFile == ''">
                                    <div class="center" style="margin-top:1.5rem;">
                                            <button type="button" disabled class="btn-outline-golden">{{ 'B2233.012' | i18n }}</button>
                                    </div>
                                </ng-container>
                        </div>
                    </ng-container>
                    
                </ng-container>
                <!-- 委託出租合约 已經出租 狀態 -->

                <!-- 包租狀態 -->
                <ng-container *ngIf="SaleType == '4'">
                    <div class="emptyCnt top_shadow">
                        <img src="assets/img/Assets.png">
                            <span>
                                {{ 'B2234.001' | i18n }}
                            </span>
                    </div>
                    <ng-container *ngIf="MngData">
                            <div class="card payinfo ">
                                <div class="payitem">
                                        <label>{{ 'B2234.002' | i18n }}</label><span>{{MngData.ManageStart}} - {{MngData.ManageEnd}}</span>
                                </div>
                                <ng-container *ngIf="MngData.ManageFile != ''">
                                    <div class="center" style="margin-top:1.5rem;">
                                            <button type="button" class="btn-outline-golden" openUrl="{{MngData.ManageFile}}">{{ 'B2234.003' | i18n }}</button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="MngData.ManageFile == ''">
                                    <div class="center" style="margin-top:1.5rem;">
                                            <button type="button" disabled class="btn-outline-golden">{{ 'B2234.003' | i18n }}</button>
                                    </div>
                                </ng-container>
                            </div>
                    </ng-container>
                    
                </ng-container>
                 <!-- 包租狀態 -->
                 
        </div>

        <div class="tab_estate fadeIn animated" *ngIf="(tab == 3)">

            <img [src]="SaleData.UnitImage"/>
            <div class="card payinfo">
                    <div class="payitem">
                        <label>{{ 'B2221.004' | i18n }}</label><span openMap>{{SaleData.Addr}}</span>
                    </div>
                    <div class="payitem">
                        <label>{{ 'B2221.005' | i18n }}</label><span>{{SaleData.UnitName}}</span>
                    </div>
                    <div class="payitem">
                        <label>{{ 'B2221.006' | i18n }}</label><span>{{SaleData.UnitArea | noTrans}} ㎡</span>
                    </div>
                    <div class="payitem">
                        <label>{{ 'B2221.007' | i18n }}</label><span>{{SaleData.RoomArea | noTrans}} ㎡</span>
                    </div>
                    <div class="payitem">
                        <label>{{ 'B2221.008' | i18n }}</label><span>{{SaleData.PublicArea | noTrans}} ㎡</span>
                    </div>
                    <div class="payitem">
                        <label>{{ 'B2221.009' | i18n }}</label><span>USD $ {{SaleData.PriceSum | noTrans}}</span>
                    </div>
                    <div class="payitem" *ngIf="SaleData.ParkingPrice != null">
                        <label>{{ 'B2221.010' | i18n }}</label><span>USD $ {{SaleData.ParkingPrice | noTrans}}</span>
                    </div>
                    <!-- 有檔案顯示 -->
                    <ng-container *ngIf="SaleData.DealFile && SaleData.DealFile != ''">
                        <div class="center" style="margin-top:1.5rem;">
                                <button type="button" class="btn-outline-golden" openUrl="{{SaleData.DealFile}}">{{ 'B2221.011' | i18n }}</button>
                        </div>
                    </ng-container>
                    <!-- 沒檔案顯示 -->
                    <ng-container *ngIf="SaleData.DealFile == ''">
                        <div class="center" style="margin-top:1.5rem;">
                                <button type="button" disabled class="btn-outline-golden">{{ 'B2221.011' | i18n }}</button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="SaleType != '1'">
                        <div class="center" style="margin-top:1.5rem;">
                                <button type="button" class="btn-golden" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'6' }">{{ 'B2221.012' | i18n }}</button>
                        </div>
                    </ng-container>
            </div>

        </div>
 </div>