<div class="raw basic">

    <div class="income" style="padding-top: 2rem">
        <label>当年度累积收益</label>
        <span>USD $0.00</span>
      </div>
      <div class="income">
          <label>7月总收益</label>
          <span>USD $0.00</span>
      </div>

    <div class="estate">
      <img src="assets/img/temp/estate.png">
    </div>


    <div class="emptyCnt top_shadow">
      <img src="assets/img/Assets.png">
        <span>
            您尚未持有相关地产，找找合适的投资物件吧。
        </span>
    </div>

    <div class="share">
        <div class="col-12">
            <div class="btn btn-golden">我有兴趣</div>
        </div>
    </div>

</div>