<div class="raw mestateblock">

    <div class="mestate">
        <div class="pic">
          <img [src]="Temp.Img"/>
          <span>{{Temp.SaleTypeName}}</span>
        </div>
        <div class="info">
            <p class="no">{{Temp.EstateNo}}</p>
            <h1>{{Temp.EstateName}}</h1>
            <p class="tag" style="font-size: 0.96rem">{{Temp.RoomName}}</p>
        </div>
    </div>

    <ng-container *ngIf="Data">
            <ul class="card_tab top_shadow" id="tabselect">
                    <li class="{{(tab == 1) ? 'active': ''}}" (click)="tabset(1)">{{ 'B221.005' | i18n }}</li>
                    <li class="{{(tab == 2) ? 'active': ''}}" (click)="tabset(2)">{{ 'B221.006' | i18n }}</li>
                </ul>
        
                <div class="tab_estate fadeIn animated" *ngIf="(tab == 1)">
        
                    <div class="card payinfo">
                        <h3>{{ 'B221.007' | i18n }}</h3>
                        <div class="payitem">
                            <label>{{ 'B221.008' | i18n }}</label>
                            <span>USD $ {{Data.Sum | noTrans}}</span>
                        </div>
                        <ng-container *ngIf="Pay">
                            <div class="payitem">
                                    <label>{{ 'B221.009' | i18n }}</label>
                                <span>USD $ {{Pay.PaySum | noTrans}}</span>
                            </div>
                            <div class="payitem">
                                <label>{{ 'B221.010' | i18n }}</label>
                                <span>USD $ {{Pay.PayAmount | noTrans}}
                                    <span class="alert" *ngIf="!Pay.IsPay">{{ 'B221.012' | i18n }}</span>
                                </span>
                            </div>
                            <div class="payitem">
                                <label>{{ 'B221.011' | i18n }}</label>
                                <span>{{Pay.PayDate}}</span>
                            </div>
                        </ng-container>
                        
                    </div>
        
                    <ng-container *ngIf="Data.Schedule && Data.Schedule.length > 0">
                        <div class="card top_shadow planned">
                            <h3>{{ 'B221.014' | i18n }}</h3>
                            <pay-record [SourceData]="payRecord" (ChangeData)="periodChange($event)"></pay-record>
                        </div>
                        
                        <div class="card struct">
                            <h3>{{structTitle}}</h3>
                            <p>{{structMsg}}</p>
                            <ng-container *ngIf="workData.length > 0">
                                    <button type="button" class="btn-outline-golden" (click)="ToggleWork()">{{ 'B221.018' | i18n }}</button>
                            </ng-container>
                            <ng-container *ngIf="workData.length == 0">
                                    <button type="button" disabled class="btn-outline-golden">{{ 'B221.018' | i18n }}</button>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
        
                <div class="tab_estate fadeIn animated" *ngIf="(tab == 2)">
                    <img [src]="SaleData.UnitImage"/>
                    <div class="card payinfo">
                            <div class="payitem">
                                <label>{{ 'B222.007' | i18n }}</label><span openMap>{{SaleData.Addr}}</span>
                            </div>
                            <div class="payitem">
                                <label>{{ 'B222.008' | i18n }}</label><span>{{SaleData.UnitName}}</span>
                            </div>
                            <div class="payitem">
                                <label>{{ 'B222.009' | i18n }}</label><span>{{SaleData.UnitArea | noTrans}} ㎡</span>
                            </div>
                            <div class="payitem">
                                <label>{{ 'B222.010' | i18n }}</label><span>{{SaleData.RoomArea | noTrans}} ㎡</span>
                            </div>
                            <div class="payitem">
                                <label>{{ 'B222.011' | i18n }}</label><span>{{SaleData.PublicArea | noTrans}} ㎡</span>
                            </div>
                            <div class="payitem">
                                <label>{{ 'B222.012' | i18n }}</label><span>USD $ {{SaleData.PriceSum | noTrans}}</span>
                            </div>
                            <div class="payitem" *ngIf="SaleData.ParkingPrice != null">
                                <label>{{ 'B222.013' | i18n }}</label><span>USD $ {{SaleData.ParkingPrice | noTrans}}</span>
                            </div>
                            <ng-container *ngIf="SaleData.DealFile && SaleData.DealFile != ''">
                                <div class="center" style="margin-top:1.5rem;">
                                        <button type="button" class="btn-outline-golden" openUrl="{{SaleData.DealFile}}">{{ 'B222.014' | i18n }}</button>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="SaleData.DealFile == ''">
                                <div class="center" style="margin-top:1.5rem;">
                                     <button type="button" disabled class="btn-outline-golden">{{ 'B222.014' | i18n }}</button>
                                </div>
                            </ng-container>
                    </div>
                </div>
    </ng-container>


 </div>

 <div class="workpic" [style.bottom]="(workpicOpen) ? '0' : '-100%'">
        <h1>{{ 'B2211.001' | i18n }}<span (click)="ToggleWork()">{{ 'B2211.002' | i18n }}</span></h1>
        <work-slider [SourceData]="workData"></work-slider>
 </div>

