<div class="raw basic">

        <circle-chart [SourceData]="chartData"></circle-chart>

        <div class="asitem top_shadow">
          <a routerLink="/layout/myestate">
            <div class="item">
              <img src="assets/img/asset1.png">
              {{ 'B11.002' | i18n }}
            </div>
          </a>
          <a routerLink="/layout/myfund">
            <div class="item">
              <img src="assets/img/asset2.png">
              {{ 'B11.003' | i18n }}
            </div>
          </a>
          <a routerLink="/layout/insurance">
            <div class="item">
              <img src="assets/img/asset3.png">
              {{ 'B11.004' | i18n }}
            </div>
          </a>

        </div>
</div>