<div class="planlist">
    <div class="swiper-container" style="width:35vw;overflow: visible" id="pay">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let item of SourceData;">
                   <div class="swiper-slide">
                        <div class="planitem {{(item.nowIndex)?'check':''}}">
                            <label>{{item.period}}</label>
                            <div class="icon {{(item.finish || item.nowIndex)?'check':'off'}}"></div>
                            <span>{{item.title}}</span>
                            <span>{{item.date}}</span>
                        </div>
                    </div>
            </ng-container>
            <!-- <div class="swiper-slide">
                <div class="planitem">
                    <label>第三期</label>
                    <div class="icon"></div>
                    <span>完工日</span>
                    <span>2019/06/28</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="planitem check">
                    <label>第四期</label>
                    <div class="icon check"></div>
                    <span>進行中</span>
                    <span>2019/06/28</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="planitem">
                    <label>第五期</label>
                    <div class="icon off"></div>
                    <span>预估完工日</span>
                    <span>2019/06/28</span>
                </div>
            </div> -->
        </div>
    </div>
</div>