<div class="swiper-container fullslider" style="left:0" id="work">
    <div class="swiper-wrapper">
        <ng-container *ngFor="let item of SourceData;">
                <div class="swiper-slide">
                        <img [src]="item.img"/>
                </div>
        </ng-container>
        <!-- <div class="swiper-slide">
            <img src="assets/img/temp/sport1.jpg"/>
        </div> -->
    </div>
    <div class="swiper-pagination work"></div>
</div>
<div class="card" style="margin-bottom: 1.5rem;">
    <h3>{{title}}</h3>
    <p>{{msg}}</p>
</div>