<div class="raw base content bg_gray">

    <!-- Form -->
    <div style="padding:1.5rem 0;">
        <p style="font-weight: bold;font-size: 1rem;">{{ 'E71.002' | i18n }}</p>
        <p style="font-weight: normal;font-size:0.88rem;color:#383537">{{ 'E71.003' | i18n }}</p>
        <div class="col-12 faqlist" *ngIf="list">
            <ng-container *ngFor="let item of list">
                    <a routerLink="/layout/faq/item/{{item.ID}}">
                        <div class="faqitem">
                            <img [src]="item.Img"/><span>{{item.Name}}</span>
                        </div>
                    </a>
            </ng-container>
<!--             
            <a routerLink="/layout/faq/item">
            <div class="faqitem">
                <img src="/assets/img/faq2.png"/><span>基金</span>
            </div></a>
            <a routerLink="/layout/faq/item">
            <div class="faqitem">
                <img src="/assets/img/faq3.png"/><span>保险</span>
            </div></a>
            <a routerLink="/layout/faq/item">
            <div class="faqitem">
                <img src="/assets/img/faq4.png"/><span>活动</span>
            </div></a>
            <a routerLink="/layout/faq/item">
            <div class="faqitem">
                <img src="/assets/img/faq5.png"/><span>帐户</span>
            </div></a>
            <a routerLink="/layout/faq/item">
            <div class="faqitem">
                <img src="/assets/img/faq6.png"/><span>其他</span>
            </div></a> -->
        </div>
    </div>
</div>