<div class="raw base content bg_gray" style="padding: 0">

    <div *ngIf="list">

        
        <label class="faq_detail" *ngFor="let item of list">
             <input type="checkbox"/>
            <div class="faq_titlt">
                    {{item.Title}}
                <i class="arrow_up"></i>
            </div>
            <div class="faq_txt" [innerHtml]="item.Detail | htmlHandle"></div>
        </label>

        <!-- <label class="faq_detail">
             <input type="checkbox"/>
            <div class="faq_titlt">
                问题标题问题标题问题标题问题标题问题标题问题标题问题标题问题A
                <i class="arrow_up"></i>
            </div>
            <div class="faq_txt">
                   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            </div>
        </label>

        <label class="faq_detail">
             <input type="checkbox"/>
            <div class="faq_titlt">
                问题标题问题标题问题标题问题标题问题标题问题标题问题标题问题A
                <i class="arrow_up"></i>
            </div>
            <div class="faq_txt">
                   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            </div>
        </label> -->
    </div>
</div>