<div class="raw base content bg_gray">
    <ng-container *ngIf="!finish">
        <div class="lock"></div>
        <!-- Form -->
        <form style="padding-bottom: 3rem;" autocomplete="off" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>{{ 'A112.002' | i18n }}</label>
                        <input type="email" class="form-control" placeholder="{{ 'A112.003' | i18n }}"
                         formControlName="Mail" [email]="true" required/>
                        <span class="help-block" 
                        *ngIf="!(mainForm.get('Mail').valid || mainForm.get('Mail').pristine)">{{ 'A112.006' | i18n }}</span>
                    </div>
                </div>
            </div>
            
            <div class="center">
                <button type="submit" class="btn-golden" [disabled]="!mainForm.valid">{{ 'A112.004' | i18n }}</button>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="finish">
        <div class="row rctmail">
                <div class="icon">
                    <img src="assets/img/mail.png">
                </div>
                <span>{{showmsg}}</span>
                <span style="color:#898989;padding-top: 1rem;">{{ 'A113.003' | i18n }}</span>
        </div>

        <div class="center" style="margin-top: 2rem">
            <button type="button" class="btn-golden" routerLink="/layout/login">{{ 'A111.006' | i18n }}</button>
            <div class="info" style="margin-top: 1.5rem;">
                    <span class="resend" (click)="ReSend()">{{ 'A113.004' | i18n }}</span>
            </div>
        </div>
    </ng-container>
    

</div>


