<div class="raw base login bg_gray">

    <div class="center">
        <img src="assets/img/logo2.png" />
        <div>Titan Stone</div>
    </div>
    <!-- Form -->
    <form style="padding-bottom: 3rem;" autocomplete="off" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'A111.001' | i18n }}</label>
                    <input type="text" class="form-control" placeholder="{{ 'A111.002' | i18n }}"
                    formControlName="Act" [email]="true" required/>
                    <span class="help-block" 
                    *ngIf="!(mainForm.get('Act').valid || mainForm.get('Act').pristine)">{{ 'A111.012' | i18n }}</span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'A111.003' | i18n }}</label>
                    <input type="password" class="form-control" placeholder="{{ 'A111.004' | i18n }}"
                    formControlName="Pwd" maxlength="16" required/>
                    <span class="help-block" 
                    *ngIf="!(mainForm.get('Pwd').valid || mainForm.get('Pwd').pristine)">{{ 'A111.011' | i18n }}</span>
                </div>
            </div>
        </div>
        <div class="info">{{ 'A111.016' | i18n }}
            <a routerLink="/layout/terms">{{ 'A111.017' | i18n }}</a> {{ 'A111.018' | i18n }}
            <a routerLink="/layout/terms">{{ 'A111.019' | i18n }}</a>
        </div>
        <div class="center">
            <button type="submit" class="btn-golden" [disabled]="!mainForm.valid">{{ 'A111.006' | i18n }}</button>
            <div class="info" style="margin-top: 1.5rem;">
                <a routerLink="/layout/regist" style="display:inline-block;max-width: 6rem;margin-right: 3rem;">
                    {{ 'A111.007' | i18n }}
                </a>
                <a routerLink="/layout/forget">
                    {{ 'A111.008' | i18n }}
                </a>
            </div>
            <div class="ts-login__divider">
                <div class="ts-divider">
                    <span></span>
                    <span>{{ 'A111.009' | i18n }}</span>
                    <span></span>
                </div>
            </div>
            <button type="button"
                class="btn-outline-golden" routerLink="/layout/home">{{ 'A111.010' | i18n }}</button>

        </div>
    </form>

</div>