<div class="raw base login bg_gray">

    <ul class="statusbar">
        <li class="visit check"><span></span></li>
        <li class="visit"><span>2</span></li>
        <li><span>3</span></li>
        <li ><span>4</span></li>
    </ul>

    <!-- Form -->
    <ng-container *ngIf="mainForm">
        <form style="padding-bottom: 3rem;" autocomplete="off" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

            <div class="personInfo">
                <div class="pimg"> 
                        <!-- style="background-image: url('assets/img/pdefault.png')" -->
                    <div class="pimgArea">
                         <img [src]="fileUrl"/>
                    </div>
                    <!-- <input type="file" id="updimg" accept="image/x-png,image/gif,image/jpeg" (change)="ImgConvert()"/> -->
                    <label for="updimg" (click)="UploadHandler()">
                       <i class="img_add"></i>
                    </label>
                </div>
            </div>
            <h3 style="margin: 1rem 0;">{{ 'A17.002' | i18n }}</h3>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="require">{{ 'A17.003' | i18n }}</label>
                        <input type="text" class="form-control" placeholder="{{ 'A17.004' | i18n }}" formControlName="Name" required>
                        <span class="help-block" 
                        *ngIf="!(mainForm.get('Name').valid || mainForm.get('Name').pristine)">{{ 'A17.014' | i18n }}</span>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <div class="form-group">
                        <label  class="require">{{ 'A17.005' | i18n }}</label>
                        <input type="password" class="form-control" placeholder="{{ 'A17.006' | i18n }}">
                    </div>
                </div> -->
                <div class="col-12">
                    <div class="form-group">
                        <label  class="require">{{ 'A17.007' | i18n }}</label>
                        <input type="date" class="form-control" placeholder="{{ 'A17.008' | i18n }}" formControlName="Birth"
                        max="{{ today | date:'yyyy-MM-dd'}}" (change)="DateCheck()" required/>
                        <span class="help-block" 
                        *ngIf="!(mainForm.get('Birth').valid || mainForm.get('Birth').pristine)">{{ 'A17.014' | i18n }}</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                            <label class="require">{{ 'A17.009' | i18n }}</label>
                            <div class="select-container">
                                <select class="form-control" formControlName="Country" (change)="Prefix()">
                                    <option value="">{{ 'A17.010' | i18n }}</option>
                                    <ng-container *ngIf="Countries">
                                        <option [value]="item.value" *ngFor="let item of Countries;">{{item.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <span class="help-block" 
                              *ngIf="!(mainForm.get('Country').valid || mainForm.get('Country').pristine)">{{ 'A17.014' | i18n }}</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="require">{{ 'A17.011' | i18n }}</label>
                        <div class="col-12">
                            <div class="col-3">
                                <input type="tel" class="form-control" placeholder="+86" maxlength="4" formControlName="PhonePrefix" required/>
                            </div>
                            <div class="col-9" style="margin-left:0.5rem;flex-wrap:wrap;" >
                                <input type="tel" class="form-control" placeholder="{{ 'A17.013' | i18n }}" formControlName="Phone" required/>
                                <span class="help-block" 
                                 *ngIf="!(mainForm.get('Phone').valid || mainForm.get('Phone').pristine)">{{ 'A17.014' | i18n }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="center">
                <button type="submit" class="btn-golden" [disabled]="!mainForm.valid">{{ 'A18.037' | i18n }}</button>
            </div>
        </form>
    </ng-container>


</div>