<div class="raw base login bg_gray">

    <ul class="statusbar">
        <li class="visit check"><span></span></li>
        <li class="visit check"><span></span></li>
        <li class="visit"><span>3</span></li>
        <li ><span>4</span></li>
    </ul>

    <!-- Form -->
    <form style="padding:0;padding-bottom: 3rem;" id="prefer" autocomplete="off" (ngSubmit)="FormSubmit()">

   
        <h3 style="margin: 1rem 0;">{{ 'A18.003' | i18n }}</h3>
        <div class="row">


            <div class="col-12">
    
                <div class="form-group">
                    <label><span>{{ 'A18.004' | i18n }}</span></label>
                    <div class="tag-wrapper">
                        <div class="item_tag">
                            <label>
                                <input type="checkbox" value="1" name="q1"/>
                                <span>{{ 'A18.005' | i18n }}</span>
                            </label>
                        </div>
                        <div class="item_tag">
                            <label>
                                <input type="checkbox" value="2" name="q1"/>
                                <span>{{ 'A18.006' | i18n }}</span>
                            </label>
                        </div>
                        <div class="item_tag">
                            <label>
                                <input type="checkbox" value="3" name="q1"/>
                                <span>{{ 'A18.007' | i18n }}</span>
                            </label>
                        </div>
                        <div class="item_tag">
                            <label>
                                <input type="checkbox" value="4" name="q1"/>
                                <span>{{ 'A18.008' | i18n }}</span>
                            </label>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="col-12">
                <div class="form-group">
                    <label><span>{{ 'A18.009' | i18n }}</span></label>
                    <div class="tag-wrapper">
                            <div class="item_tag">
                                <label>
                                    <input type="radio" value="1" name="q2"/>
                                    <span>{{ 'A18.010' | i18n }}</span>
                                </label>
                            </div>
                            <div class="item_tag">
                                <label>
                                    <input type="radio" value="0" name="q2"/>
                                    <span>{{ 'A18.011' | i18n }}</span>
                                </label>
                            </div>
                    </div>
                </div>
            </div>
    
            <div class="col-12">
                <div class="form-group">
                    <label><span>{{ 'A18.012' | i18n }}</span></label>
                    <div class="tag-wrapper">
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="1" name="q3"/><span>{{ 'A18.013' | i18n }}</span>
                            </label>
                            </div>
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="2" name="q3"/><span>{{ 'A18.014' | i18n }}</span>
                            </label>
                            </div>
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="3" name="q3"/><span>{{ 'A18.015' | i18n }}</span>
                            </label>
                            </div>
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="4" name="q3"/><span>{{ 'A18.016' | i18n }}</span>
                            </label>
                            </div>
                    </div>
                </div>
    
            </div>
    
            <div class="col-12">
                <div class="form-group">
                    <label><span>{{ 'A18.017' | i18n }}</span></label>
                    <div class="tag-wrapper">
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="1" name="q4"/><span>{{ 'A18.018' | i18n }}</span>
                            </label>
                            </div>
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="2" name="q4"/><span>{{ 'A18.019' | i18n }}</span>
                            </label>
                            </div>
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="3" name="q4"/><span>{{ 'A18.020' | i18n }}</span>
                            </label>
                            </div>
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="4" name="q4"/><span>{{ 'A18.021' | i18n }}</span>
                            </label>
                            </div>
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="5" name="q4"/><span>{{ 'A18.022' | i18n }}</span>
                            </label>
                            </div>
                            <div class="item_tag">
                            <label>
                                <input type="checkbox" value="6" name="q4"/><span>{{ 'A18.023' | i18n }}</span>
                            </label>
                            </div>
                    </div>
                </div>
    
            </div>
    
            <div class="col-12">
                <div class="form-group">
                    <label><span>{{ 'A18.024' | i18n }}</span></label>
                    <div class="tag-wrapper">
                            <div class="item_tag">
                              <label>
                                  <input type="checkbox" value="1" name="q5"/><span>{{ 'A18.025' | i18n }}</span>
                              </label>
                            </div>
                            <div class="item_tag">
                              <label>
                                  <input type="checkbox" value="2" name="q5"/><span>{{ 'A18.026' | i18n }}</span>
                              </label>
                            </div>
                            <div class="item_tag">
                              <label>
                                  <input type="checkbox" value="3" name="q5"/><span>{{ 'A18.027' | i18n }}</span>
                              </label>
                            </div>
                            <div class="item_tag">
                              <label>
                                  <input type="checkbox" value="4" name="q5"/><span>{{ 'A18.028' | i18n }}</span>
                              </label>
                            </div>
                    </div>
                </div>
              </div>
    
              <div class="col-12">
                <div class="form-group">
                    <label><span>{{ 'A18.029' | i18n }}</span></label>
                    <div class="tag-wrapper">
                            <div class="item_tag">
                              <label>
                                  <input type="checkbox" value="1" name="q6"/><span>{{ 'A18.030' | i18n }}</span>
                              </label>
                            </div>
                            <div class="item_tag">
                              <label>
                                  <input type="checkbox" value="2" name="q6"/><span>{{ 'A18.031' | i18n }}</span>
                              </label>
                            </div>
                            <div class="item_tag">
                              <label>
                                  <input type="checkbox" value="3" name="q6"/><span>{{ 'A18.032' | i18n }}</span>
                              </label>
                            </div>
                            <div class="item_tag">
                              <label>
                                  <input type="checkbox" value="4" name="q6"/><span>{{ 'A18.033' | i18n }}</span>
                              </label>
                            </div>
                    </div>
                </div>
              </div>
    
            <div class="col-12">
                <div class="form-group">
                    <label><span>{{ 'A18.034' | i18n }}</span></label>
                    <div class="tag-wrapper">
                            <div class="item_tag">
                                <label>
                                    <input type="radio" value="1" name="q6"/>
                                    <span>{{ 'A18.035' | i18n }}</span>
                                </label>
                            </div>
                            <div class="item_tag">
                                <label>
                                    <input type="radio" value="0" name="q6"/>
                                    <span>{{ 'A18.036' | i18n }}</span>
                                </label>
                            </div>
                    </div>
                </div>
            </div>
    
    
          </div>
      
        <div class="center">
            <button type="submit" class="btn-golden">{{ 'A18.037' | i18n }}</button>
        </div>
    </form>

</div>