<div class="raw base login bg_gray">

    <ul class="statusbar">
        <li class="visit"><span>1</span></li>
        <li><span>2</span></li>
        <li><span>3</span></li>
        <li ><span>4</span></li>
    </ul>

    <!-- Form -->
    <form style="padding-bottom: 3rem;" autocomplete="off" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

        <div class="row">
         
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'A16.002' | i18n }}</label>
                    <input type="mail" class="form-control" placeholder="{{ 'A16.003' | i18n }}" 
                    formControlName="Act" [email]="true" required>
                    <span class="help-block" 
                    *ngIf="!(mainForm.get('Act').valid || mainForm.get('Act').pristine)">{{ 'A16.013' | i18n }}</span>
                </div>
                
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'A16.004' | i18n }}</label>
                    <input type="password" class="form-control" placeholder="{{ 'A16.005' | i18n }}" 
                    formControlName="Pwd" maxlength="16" inputlitmit required>
                    <span class="help-block" 
                    *ngIf="!(mainForm.get('Pwd').valid || mainForm.get('Pwd').pristine)">{{ 'A16.005' | i18n }}</span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'A16.006' | i18n }}</label>
                    <input type="password" class="form-control" placeholder="{{ 'A16.007' | i18n }}"
                    formControlName="PwdCheck" maxlength="16" inputlitmit required>
                    <span class="help-block" 
                     *ngIf="!(mainForm.get('PwdCheck').valid || mainForm.get('PwdCheck').pristine)">{{ 'A16.005' | i18n }}</span>
                </div>
            </div>
        </div>
        <div class="info">{{ 'A16.016' | i18n }}
            <a routerLink="/layout/terms">{{ 'A16.017' | i18n }}</a>{{ 'A16.018' | i18n }}
            <a routerLink="/layout/terms">{{ 'A16.019' | i18n }}</a>
        </div>
        <div class="center">
            <button type="submit" class="btn-golden" [disabled]="!mainForm.valid">{{ 'A16.001' | i18n }}</button>
            <div class="info" style="margin-top: 1.5rem;">
                <a routerLink="/layout/login">{{ 'A16.010' | i18n }}</a>
            </div>
            <div class="ts-login__divider">
                <div class="ts-divider">
                    <span></span>
                    <span>{{ 'A16.011' | i18n }}</span>
                    <span></span>
                </div>
            </div>
            <button type="button" class="btn-outline-golden" routerLink="/layout/home">{{ 'A16.012' | i18n }}</button>

        </div>
    </form>

</div>