<div class="raw base login bg_gray">

    <ul class="statusbar">
        <li class="visit check"><span></span></li>
        <li class="visit check"><span></span></li>
        <li class="visit check"><span></span></li>
        <li class="visit"><span>4</span></li>
    </ul>

    <!-- Form -->
   
        <div class="row rctmail">
             <h1>{{ 'A19.002' | i18n }}</h1>
             <div class="icon">
                    <img src="assets/img/mail.png">
             </div>
             <span>{{mailmsg}}</span>
        </div>
      
        <div class="center success" >
            <button type="button" class="btn-golden" routerLink="/layout/login">{{ 'A19.004' | i18n }}</button>
            <div class="info" style="margin-top: 1.5rem;">
                    <a routerLink="/layout/home">{{ 'A19.005' | i18n }}</a>
            </div>
        </div>
 

</div>