<div class="raw base fundarea">

    <div class="col-12 fundList">

        <div class="fundsum">
            <label>{{ 'B41.002' | i18n }}</label><span>USD $ {{CostSum | noTrans}}</span>
        </div>
        <ng-container *ngIf="FData && FData.length == 0">
            <div class="emptyFund top_shadow">
                <div class="info">
                    <img src="assets/img/gain.png">
                    <span>{{ 'D21.008' | i18n }}</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="FData && FData.length != 0">
            <ng-container *ngFor="let item of FData">
                <div class="fundcard top_shadow" routerLink="/layout/insuranceitem/{{item.ID}}">
                    <span class="fname">{{item.InsNo}}</span>
                    <h1>{{item.InsName}}</h1>
                    <hr />
                    <div class="finfo flist">
                        <div class="fmsg">
                            <label>{{ 'B41.003' | i18n }}</label><span>{{item.BenefitName}}</span>
                        </div>
                        <div class="fmsg">
                            <label>{{ 'B41.004' | i18n }}</label><span>{{item.StatusName}}</span>
                        </div>
                        <div class="fmsg">
                            <label>{{ 'B41.005' | i18n }}</label><span>{{item.Currency}} ${{item.Amount | noTrans}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- <div class="fundcard top_shadow">
                <span class="fname">900000000000089A</span>
                <h1>五福臨門</h1>
                <hr />
                <div class="finfo flist">
                    <div class="fmsg">
                        <label>被保險人</label><span>巨屌強森</span>
                    </div>
                    <div class="fmsg">
                        <label>保單狀態</label><span>有效</span>
                    </div>
                    <div class="fmsg">
                        <label>保險金額</label><span>USD $200</span>
                    </div>
                </div>
            </div> -->
        </ng-container>
        

    </div>

    <ng-container *ngIf="FData && FData.length == 0">
        <div class="share">
            <div class="col-12">
                <div class="btn btn-golden" [routerLink]= "['/layout/contactus']" [queryParams]="{ item:'3' }">{{ 'C121.019' | i18n }}</div>
            </div>
        </div>
    </ng-container>

</div>
