<div class="raw base fundarea" style="padding-top: 0">
        <div class="col-12 fundList  fadeIn animated" *ngIf="Data">
            <div class="fundcard top_shadow">
                <span class="fname">{{Data.InsNo}}</span>
                <h1>{{Data.InsName}}</h1>
                <hr />
                <div class="finfo flist">
                    <!-- <div class="fmsg">
                        <label>{{ 'B41.003' | i18n }}</label><span>{{Data.BenefitName}}</span>
                    </div> -->
                    <div class="fmsg">
                        <label>{{ 'B41.004' | i18n }}</label><span>{{Data.StatusName}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B41.005' | i18n }}</label><span class="insum">{{Data.Currency}} ${{Data.InsAmount | noTrans}}</span>
                    </div>
                </div>
                <hr />
                <label class="ftitle">{{ 'B42.021' | i18n }}</label>
                <div class="finfo flist">
                    <div class="fmsg">
                        <label>{{ 'B42.005' | i18n }}</label><span>{{Data.TypeName}}</span>
                    </div>
                    <div class="fmsg" *ngIf="Data.ValidDate != null">
                        <label>{{ 'B42.006' | i18n }}</label><span>{{Data.ValidDate}}</span>
                    </div>
                    <div class="fmsg" *ngIf="Data.ValidRange != null">
                        <label>{{ 'B42.007' | i18n }}</label><span>{{Data.ValidRange}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B42.008' | i18n }}</label><span>{{Data.PayPeriod}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B42.009' | i18n }}</label><span>{{Data.InsTypeName}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B42.022' | i18n }}</label><span>{{Data.Currency}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B42.011' | i18n }}</label><span>{{Data.Currency}} ${{Data.Amount | noTrans}}</span>
                    </div>
                    <div class="fmsg" *ngIf="Data.NextPayDate != ''">
                        <label>{{ 'B42.012' | i18n }}</label><span>{{Data.NextPayDate}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B42.013' | i18n }}</label><span>{{Data.BuyerName}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B42.014' | i18n }}</label><span>{{Data.BenefitName}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B42.015' | i18n }}</label><span>{{Data.SaleName}}</span>
                    </div>
                    <div class="fmsg">
                        <label>{{ 'B42.016' | i18n }}</label><span>{{Data.SalePhone}}</span>
                    </div>
                </div>
            </div>
            <div class="fundcard top_shadow">
                 <ul class="tabSelect">
                    <li class="{{(tab == 1) ? 'active' : ''}}" (click)="TabSet(1)">{{ 'B42.017' | i18n }}</li>
                    <li class="{{(tab == 2) ? 'active' : ''}}" (click)="TabSet(2)">{{ 'B42.018' | i18n }}</li>
                </ul>
                
                <div class="content fadeIn animated" *ngIf="tab == 1">

                    <table class="tset" *ngIf="Lang == 'zh_CN'">
                        <tr>
                            <th  style="width: 50%;">项目</th>
                            <th  style="width: 50%;">说明</th>
                        </tr>
                        <ng-container *ngIf="Data.InsContent">
                            <tr *ngFor="let ins of Data.InsContent;">
                                <td style="width: 50%;">{{ins.title}}</td>
                                <td style="width: 50%;" [innerHtml]="ins.desc | htmlHandle"></td>
                            </tr>
                        </ng-container>
                    </table>

                    <table class="tset" *ngIf="Lang == 'en_US'">
                        <tr>
                            <th style="width: 50%;">Item</th>
                            <th style="width: 50%;">Info</th>
                        </tr>
                        <ng-container *ngIf="Data.InsContent">
                            <tr *ngFor="let ins of Data.InsContent;">
                                <td>{{ins.title}}</td>
                                <td [innerHtml]="ins.desc | htmlHandle"></td>
                            </tr>
                        </ng-container>
                    </table>

                </div>
                <div class="content fadeIn animated" *ngIf="tab == 2">
                    <p class="innerhmtl" [innerHtml]="Data.InsNote | htmlHandle"></p>
                </div>
            </div>

            <div class="fundcard center" style="margin-top: 1rem;">
                <button type="submit" *ngIf="Data.Recommend != ''" class="btn-outline-golden" openUrl="{{Data.Recommend}}">{{ 'B42.019' | i18n }}</button>
                <button type="submit" *ngIf="Data.DealFile != ''" class="btn-outline-golden" openUrl="{{Data.DealFile}}">{{ 'B42.020' | i18n }}</button>
            </div>
        </div>
</div>