
<ng-container *ngIf="SourceData && SourceData.length > 0">
        <div class="card fadeIn animated">
            <h1 class="hometitle">{{ 'A12.004' | i18n }}</h1>
            <div class="swiper-container homeslider" style="width:80vw" id="estate" >
                    <div class="swiper-wrapper">
                        
                                <div class="swiper-slide" *ngFor="let item of SourceData;">
                                        <div class="homecmd" (click)="RouteTo(item.ID)">
                                            <div class="imgblock">
                                                    <img src="{{item.Img}}"/>
                                            </div>
                                            <div class="info">
                                                <h3>{{item.Name}}</h3>
                                                <span>{{item.Country}}</span>
                                            </div>
                                        </div>
                                </div>

                    </div>
                    <div class="swiper-pagination home-pagination"></div>
                </div>
    </div>
</ng-container>
