    <div class="home">
        <div class="topblock">
            <div class="center" id="top">
                <h5>Titan Stone</h5>
                <h3>{{ 'A12.001' | i18n }}</h3>
                <h6>{{ 'A12.002' | i18n }}</h6>
                <a routerLink="/layout/about" id="toHome">
                <img src="assets/img/arrow.svg" width="25px" />
                </a>
            </div>
            
        </div>
        <div class="homeblock">
            <div class="slash"></div>

            <estate-slider [SourceData]="mainSlider"></estate-slider>

            <trend-slider [SourceData]="trendSlider"></trend-slider>

            <seminar-slider [SourceData]="seminarSlider"></seminar-slider>

            <news-list [SourceData]="newsData"></news-list>
            <!-- <div class="card">

                <h1 class="hometitle">理财趋势<a class="more">更多</a></h1>

                <div class="swiper-container trendslider" style="width:68vw" id="trendcmd">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tradecmd">
                            <img src="assets/img/temp/around8.png"/>
                                <div class="info">
                                <h3>柬埔寨计划5年投资37亿美元修建6机场</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tradecmd">
                                <img src="assets/img/temp/around8.png"/>
                                <div class="info">
                                <h3>柬埔寨计划5年投资37亿美元修建6机场</h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tradecmd">
                                <img src="assets/img/temp/around8.png"/>
                                <div class="info">
                                    <h3>柬埔寨计划5年投资37亿美元修建6机场</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->


            <!-- <div class="card">

                <h1 class="hometitle">精选活动<a class="more">更多</a></h1>

                <div class="swiper-container sminrslider" style="width:68vw" id="actcmd">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="sminrcmd">
                                <img src="assets/img/temp/around8.png"/>
                                <span class="tag">活动</span>
                                <div class="info">
                                    <h3>柬埔寨计画说明会</h3>
                                    <span class="date">2019/06/29 (六)</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sminrcmd">
                                <img src="assets/img/temp/around8.png"/>
                                <span class="tag">活动</span>
                                <div class="info">
                                    <h3>地产投资交流会</h3>
                                    <span class="date">2019/06/29 (六)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <!-- <div class="card">

                <h1 class="hometitle">官方消息<a class="more">更多</a></h1>

                <div class="trd_info">
                    <div class="img">
                    <img src="assets/img/temp/trd2.png"/>
                    </div>
                    <div class="info">
                        <h3>出来借的总要还 2021年中国地产商偿债规模上看1兆人民币</h3>
                        <span>2019/6/24</span>
                    </div>
                </div>

                <div class="trd_info">
                    <div class="img">
                    <img src="assets/img/temp/trd2.png"/>
                    </div>
                    <div class="info">
                        <h3>出来借的总要还 2021年中国地产商偿债规模上看1兆人民币</h3>
                        <span>2019/6/24</span>
                    </div>
                </div>

            </div> -->

        </div>

       
    </div>