
<ng-container *ngIf="SourceData">
                <div class="card fadeIn animated" style="padding-bottom: 20vh;">

                                <h1 class="hometitle">{{ 'A12.012' | i18n }}<a class="more" routerLink="/layout/news">{{ 'A12.006' | i18n }}</a></h1>
                                <ng-container *ngFor="let item of SourceData;">
                                        <div class="trd_info" routerLink="/layout/news/detail/{{item.ID}}">
                                                <div class="img">
                                                <img [src]="item.Img"/>
                                                </div>
                                                <div class="info">
                                                    <h3>{{item.Title}}</h3>
                                                    <span>{{item.Date}} ({{item.Week}})</span>
                                                </div>
                                          </div>
                                </ng-container>
                        </div>
</ng-container>
