
<ng-container *ngIf="SourceData && SourceData.length > 0">
        <div class="card fadeIn animated">
                <h1 class="hometitle">{{ 'A12.007' | i18n }}<a class="more" routerLink="/layout/seminar">{{ 'A12.006' | i18n }}</a></h1>
                <div class="swiper-container sminrslider" style="width:68vw" id="actcmd">
                    <div class="swiper-wrapper">
                        <ng-container *ngFor="let item of SourceData;">
                             <div class="swiper-slide">
                                <div class="sminrcmd"  routerLink="/layout/seminar/detail/{{item.ID}}">
                                    <img [src]="item.Img"/>
                                    <span class="tag">{{item.Tag}}</span>
                                    <div class="info">
                                        <h3>{{item.Title}}</h3>
                                        <span class="date">{{item.Date}}({{item.Week}})</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
        
        </div>
</ng-container>


