<ng-container *ngIf="SourceData && SourceData.length > 0">

        <div class="card fadeIn animated">
        
    
                <h1 class="hometitle">{{ 'A12.005' | i18n }}<a class="more" routerLink="/layout/trend">{{ 'A12.006' | i18n }}</a></h1>
        
                <div class="swiper-container trendslider" style="width:68vw" id="trendcmd">
                    <div class="swiper-wrapper">
                            <ng-container *ngFor="let item of SourceData;">
                                <div class="swiper-slide">
                                    <div class="tradecmd" routerLink="/layout/trend/detail/{{item.ID}}">
                                    <img [src]="item.Img"/>
                                        <div class="info">
                                        <h3>{{item.Title}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                       
                    </div>
                </div>
        
            </div>
</ng-container>

