<div class="raw base content">

        <div class="col-12 findList">
            <div class="finditem" routerLink="/layout/seminar">
                <div class="findImg">
                    <img src="assets/img/find1.jpg"/>
                </div>
               <span>{{ 'D11.002' | i18n }}</span>
            </div>
            <div class="finditem" routerLink="/layout/trend">
                <div class="findImg">
                    <img src="assets/img/find2.jpg"/>
                </div><span>{{ 'D11.003' | i18n }}</span>
            </div>
            <div class="finditem" routerLink="/layout/news">
                <div class="findImg">
                    <img src="assets/img/find3.jpg"/>
                </div><span>{{ 'D11.004' | i18n }}</span>
            </div>
        </div>
</div>