<div class="swiper-container fullslider" id="device">
        <div class="swiper-wrapper">
               <ng-container *ngFor="let item of SourceData;">
                  <div class="swiper-slide">
                    <img [src]="item.img"/>
                   </div>
                </ng-container>
        </div>
        <div class="swiper-pagination pdevice"></div>
</div>