<div class="raw prodlist">

        <ng-container *ngFor="let item of Data">
          <div class="prod" routerLink="/layout/estate/item/{{item.ID}}">
              <div class="pic">
                <img [src]="item.MainImg"/>
                <span class="tag">{{item.SaleName}}</span>
              </div>
              <div class="info">
                  <h1>{{item.Name}}</h1>
                  <p class="brief">{{item.Brief}}</p>
                  <p class="price">{{item.Price}}</p>
                  <p class="tag" *ngIf="item['SpecTag']">
                    <span *ngFor="let str of item['SpecTag'];">{{str}}</span>
                  </p>
              </div>
          </div>
        </ng-container>
     </div>