<div class="raw prodlist">

  <div class="prod" *ngIf="Data">

      <!-- <div class="pic">
        <img [src]="Data.MainImg"/>
        <span>{{Data.SaleName}}</span>
      </div> -->
      <div class="pic">
        <div class="swiper-container fulfull-sliderlslider" id="device">
            <div class="swiper-wrapper" style="width: 100vw;">
                <ng-container *ngIf="FrameUrl != ''">
                    <!-- <div class="swiper-slide video">
                        <iframe style="width: 100vw;" height="{{FrameHeight}}" 
                            [src]="FrameUrl | safe" frameborder=0>
                        </iframe>
                    </div> -->
                    <div class="swiper-slide">
                            <img src="{{VideoImg}}" openUrl="{{FrameUrl}}"/>
                    </div>
                </ng-container>
                <div class="swiper-slide" *ngFor="let url of Album;">
                    <img src="{{url}}" />
                </div>
            </div>
         <div class="swiper-pagination device"></div>
         </div>
         <span class="tag">{{Data.SaleName}}</span>
      </div>
      <div class="info">
          <h1>{{Data.Name}}</h1>
          <!-- <p class="brief">{{Data.Brief}}</p> -->
          <p class="price">{{Data.Price}}</p>
          <p class="tag" *ngIf="Data['SpecTag']">
              <span *ngFor="let str of Data['SpecTag'];">{{str}}</span>
          </p>
      </div>

      <div class="card top_shadow">
        
          <div class="item">
            <label>{{ 'C121.001' | i18n }}</label>
            <span>{{Data.Country}}</span>
          </div>
          <div class="item">
            <label>{{ 'C121.002' | i18n }}</label>
            <span>{{Data.EstateType}}</span>
          </div>
          <div class="item">
            <label>{{ 'C121.003' | i18n }}</label>
            <span openMap>{{Data.Address}}</span>
          </div>
          <div class="item">
            <label>{{ 'C121.004' | i18n }}</label>
            <span>{{Data.FloorDesc}}</span>
          </div>
          <div class="item" *ngIf="Data.CompleteDate != ''">
            <label>{{ 'C121.005' | i18n }}</label>
            <span>{{Data.CompleteDate}}</span>
          </div>
          
      </div>

      <div class="card top_shadow">
        <p class="innerhmtl" [innerHtml]="Data.Detail | safeHtml"></p>
      </div>

      <ul class="card_tab top_shadow" id="tabselect">
        <li  (click)="tabSet(1)" class="{{(_tab == 1) ? 'active' : ''}}" >{{ 'C121.006' | i18n }}</li>
        <li (click)="tabSet(2)" class="{{(_tab == 2) ? 'active' : ''}}" >{{ 'C121.007' | i18n }}</li>
      </ul>

      <div class="tab_cnt" *ngIf="(_tab == 1)">

        <h3>{{ 'C121.008' | i18n }}</h3>
        <img class="fullw" [src]="Data.FloorImg"/>

        <ng-container *ngIf="floorData && floorData.length > 0">
            <h3>{{ 'C121.009' | i18n }}</h3>
            <floor-slider [SourceData]="floorData"></floor-slider>
        </ng-container>
        

        <div class="center" style="margin-top:2rem;">
          <ng-container *ngIf="Data.FileUrl">
              <button type="button" class="btn-outline-golden" openUrl="{{Data.FileUrl}}">{{ 'C121.020' | i18n }}</button>
          </ng-container>
        </div>

          <h3 class="title">{{ 'C121.011' | i18n }}</h3>
          <intro-slider [SourceData]="introData"></intro-slider>
          <ng-container *ngIf="AroundList">
                <div class="around" *ngFor="let item of AroundList">
                    <img class="icon" [src]="item.img"/>
                    <div>
                        <label>{{item.title}}</label>
                        <span>{{item.desc}}</span>
                    </div>
                </div>
          </ng-container>

      </div>


      <div class="tab_cnt" *ngIf="(_tab == 2)">

          <intro-slider [SourceData]="deviceData"></intro-slider>

          <ng-container *ngIf="DeviceList">
                <h3>{{ 'C122.001' | i18n }}</h3>
                <div class="around" *ngFor="let item of DeviceList">
                    <img class="icon" [src]="item.img"/>
                    <div>
                        <label>{{item.title}}</label>
                        <span>{{item.desc}}</span>
                    </div>
                </div>
          </ng-container>
          
          <ng-container *ngIf="ServiceList">
                <h3>{{ 'C122.002' | i18n }}</h3>
                <div class="around" *ngFor="let item of ServiceList">
                    <img class="icon" [src]="item.img"/>
                    <div>
                         <label>{{item.title}}</label>
                         <span>{{item.desc}}</span>
                    </div>
                </div>
          </ng-container>

      </div>
      
  </div>

  <div class="act" *ngIf="actlist">
      <div class="card top_shadow">
          <h2>{{ 'C121.022' | i18n }}</h2>
          <ng-container *ngFor="let act of actlist">
            <div class="act_info" routerLink="/layout/seminar/detail/{{act.id}}">
                <div class="atype">{{act.TypeName}}</div>
                <h3>{{act.Name}}-{{act.AreaName}}</h3>
                <span>{{act.ActDate}} ({{act.Week}}) {{act.ActTime}}</span>
                <span>{{act.ActPosition}} {{act.ActAddr}}</span>
            </div>
          </ng-container>
        </div>
  </div>


  <div class="share" *ngIf="Data">
    <div class="col-6">
        <!-- <div class="btn btn-outline-golden" shareUrl="type=estateitem&id={{_id}}">分享</div> -->
        <div class="btn btn-outline-golden" (click)="ShareEvt()">{{ 'C121.018' | i18n }}</div>
    </div>
    <div class="col-6">
        <div class="btn btn-golden" [routerLink]= "['/layout/contactus']" [queryParams]="{ estateid: Data.ID }">{{ 'C121.019' | i18n }}</div>
    </div>
  </div>

 </div>