<div class="swiper-container floorslider" id="floor" *ngIf="SourceData && SourceData.length > 0">
        <div class="swiper-wrapper">
                <ng-container *ngFor="let item of SourceData;">
                        <div class="swiper-slide">
                                <div class="floor">
                                        <img [src]="item.Img"/>
                                        <div class="info">
                                        <p>{{item.Name}}</p>
                                        <span>{{item.Brief}}</span>
                                        <span>{{item.FloorDesc}}</span>
                                        <span>{{item.Area}}</span>
                                        </div>
                                </div>
                        </div>
                </ng-container>
        </div>
</div>