/* 須排除輸入 */
*{   
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-select:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;   
}
/* 須排除輸入 */
input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{}
@font-face {
    font-family: PingFang SC;
    src: local('PingFang SC'),
      local('PingFang SC'),
      url('../fonts/PingFangSC-Medium.ttf');
}
body{
    width: 100%;min-height: 100%;
    padding:0;margin: 0; overflow: auto;
    font-family: 'PingFang SC','Microsoft YaHei','Microsoft JhengHei';
}
/* body{
    font-family: 'PingFang SC','Microsoft YaHei','Microsoft JhengHei';
    padding:0;margin:0;
    position: relative;
    font-family: 'PingFang SC','Microsoft YaHei','Microsoft JhengHei';
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
} */

/* select style for safari */
select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding: .5em;
background: #efefef;
border: none;
border-radius: 3px;
padding: 1em 2em 1em 1em;
font-size: 1em;
}
.select-container {position:relative; display: inline;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: .5rem;
    right: .75em;
    border-top: 8px solid black;
    opacity: 0.5;
}
select::-ms-expand {
    display: none;
}

input.form-control{
    -webkit-appearance: none;
}
input {      
    -webkit-user-select:auto; /*webkit浏览器*/     
} 
button{
    font-family: 'PingFang SC','Microsoft YaHei','Microsoft JhengHei';
}
button:disabled,
button[disabled] {
    background-color: #D8DADC;
    color:#fff;
    border: 2px solid #D8DADC;
}

p{
    font-size: 0.88rem;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}

.raw{width: 100vw;display: flex;}

/* rwd base setting */
.col-12{width:100%;margin: auto;display: flex;}
.col-2{width: 16.66%;display: flex;}
.col-3{width: 25%;display: flex;}
.col-4{width: 33.33%;display: flex;}
.col-6{width: 50%;display: flex;}
.col-8{width: 66.66%;display: flex;}
.col-9{width: 75%;display: flex;}

.base{
    flex-direction:column ;
    margin-top: 5.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    min-height: calc(100vh - 5.5rem);
    height: fit-content;
    padding-bottom: 8rem;
}
.bg_gray{
    background-color: #F9F9FB !important;
}
#main
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    overflow-x: hidden;
    background-color: #fff;
    /* overflow-y: scroll; */
    /* -webkit-overflow-scrolling: touch; */
}

/* init */
#initview{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 10;
}
.none{display: none;}
#myVideo {
    position: fixed;
    right: 0;bottom: 0;
    min-width: 100%;min-height: 100%;
}
.init{
    position: relative;z-index: 1;
    width: 100vw;height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.init img{width: 3rem;height: 3rem;margin-bottom: 1rem;}
.init h3{font-size: 1.5rem;line-height:3rem;font-weight: bold;}
.init h6{font-size: 0.95rem;}
.init a{display:inline-block; padding: 1rem;}
.init .center{display: block;text-shadow: 0px 1px 3px darkcyan;}
.center{text-align: center;}

/* header */
.header{
    width: 100vw;
    height: 3rem;
    display: flex;
    position: fixed;
    z-index: 99;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;

    /* ios fixed */
    background-image: url('../img/headerbg.png');
    background-repeat: no-repeat;
    background-color:transparent;
    background-size: 100vw 6rem;
    background-position-y: -6rem;
    -webkit-transition-property: background-position;
    -webkit-transition-duration: 0.5s;
    transition-property: background-position;
    transition-duration: 0.5s;
}
.header.bgdown{
    background-position-y: 0;
}
.header .left{position: absolute;left: 0;padding-left:1rem;}
.header .right{position: absolute;right: 0;padding-right: 1rem;}
.header .center{
    font-size: 1.19rem;
    transition:opacity 0.5s ease 0s;
}
.header.mainbg .center{color:#fff;}
.bell,.headset,.back{
    display: inline-block;
    width: 1.5rem;height: 1.5rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

.mainbg{background-color: #DB9900 !important;}
.header.mainbg .center{color:#fff !important;opacity: 1 !important;}
#main .header .center{color:#fff !important;opacity: 0;}
#main .header.bgdown .center{color:#fff !important;opacity:1;}

.bell{background-image: url('../img/remind.png');position: relative;}
.bell span.count{color:#fff;background: #FED208;position: absolute;right: -50%;top: -0.5rem;display: block;font-size: 0.88rem;min-width: 0.75rem;border-radius: 0.5rem;text-align: center;padding: 0 0.25rem;}
.headset{background-image: url('../img/service.png');}
.back{background-image: url('../img/back.png');}

.menu{
    justify-content: center;
    flex-direction:column ;
    align-self:flex-start;
    margin-top: 5rem;
}
.menebg{
    background-image:url('../img/menuBg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.pimg{
    width: 4.25rem;
    height: 4.25rem;
    position: relative;
    margin: auto;
}
.pimgArea{
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 4.25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pimgArea img{width: 100%;}
.personInfo{padding-bottom: 2vh;}
.personInfo div.name a{color:#fff;display:block;}
.personInfo div.name,.personInfo span
{text-align: center;color:#fff;display:block;}
.personInfo div.name{line-height: 4vh;margin-top: 1rem;}
.personInfo span{font-size:0.875rem;line-height: 1.2rem;}
.pimg label{
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background: #FACE34;
    right: -0.25rem;
    bottom: 0.25rem;
    text-align: center;
    line-height: 1.5rem;
   }
.pimg label i.img_add{
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-image: url('../img/imgadd.png');
    background-size: 1rem;
    background-position: center;
    display: block;
}
#updimg{
  display: none;
}
.btm_menu{
    display: flex;position: fixed;bottom: 0;
    width: 100vw; height: 80px;background:#fff;
    align-items: flex-start;
    box-shadow: 0px 0px 35px #afafaf;
    z-index: 99;
    padding-bottom: 1.85rem;
}
.btm_menu div{
    background-repeat: no-repeat;
    flex: 1;
    text-align: center;
    line-height: 1.25rem;
    font-size: 0.85rem;
    color: #898989;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction:column ;
}
.contact.active{top: calc( 100vh - 14rem );}
.contact{
    transition: top 0.75s;
    position: fixed;
    height: 14rem;
    padding:1rem;
    width: 100vw;
    box-sizing: border-box;
    top:101vh;
    background-color:#fff;
    z-index: 100;
    box-shadow: 0px 0px 5px #afafaf;
}
.contact h3{margin-bottom:1rem;}
.contact h3 span{font-size:0.88rem;
    font-weight: normal;
    float: right;
    color:#898989;
}
.contact .citem{margin-bottom:0.5rem;display: flex;align-items: center;}
.contact .citem:last-child{margin-bottom:0;}
.contact .citem label{
    border: 1px solid #CDD5DF;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 2rem;
    display: inline-block;
    text-align: center;
    padding: 0.15rem;
    margin-right: 0.5rem;
}
.citem a{color: #000;text-decoration:none;}
.contact .citem label img{
    width: 1.35rem;
    padding-top: 0.15rem;
}
/* share */
.sharearea.active{top: calc( 100vh - 14rem );}
.sharearea{
    transition: top 0.75s;
    position: fixed;
    height: 14rem;
    padding:1rem;
    width: 100vw;
    box-sizing: border-box;
    top:101vh;
    background-color:#fff;
    z-index: 100;
    box-shadow: 0px 0px 5px #afafaf;
}
.sharearea h3{margin-bottom:1rem;}
.sharearea h3 span{font-size:0.88rem;
    font-weight: normal;
    float: right;
    color:#898989;
}
.sharearea .citem{margin-bottom:0.5rem;display: flex;align-items: center;}
.sharearea .citem:last-child{margin-bottom:0;}
.sharearea .citem label{
    height: 1.75rem;
    width: 1.75rem;
    display: inline-block;
    text-align: center;
    margin-right: 0.5rem;
}
.sharearea a{color: #000;text-decoration:none;}
.sharearea .citem label img{
    width: 100%;
}


.main_menu li{
    background-repeat: no-repeat;
    height:6.5vh;
    color: #fff;
    text-align: center;
    line-height: 6.5vh;
}
.main_menu li img{
    width: 1.5rem;
    text-align: center;
    padding: 0 0.45rem;
    position: relative;
    top: 0.5rem;
 }
.main_menu li span{
    display: inline-block;min-width: 4rem;
    text-align: left;
    font-size: 0.85rem;
    color:#fff;
}
.btm_menu div{padding-top: 1rem;}
.btm_menu div img{
    width: 25px;height: 25px;
    transition: all .5s ease-in-out;
}
.btm_menu svg{
    width: 100%;position: absolute;fill: #fff;top:-0.5rem;
    max-height: 3rem;
}
.btm_menu .active svg{top:-1.5rem;}

.btm_menu div span{line-height: 1.5rem;}
.btm_menu div span,.btm_menu div img{position: relative;}
.btm_menu div.active{color:#E1B700;font-weight: bold;}
.btm_menu div:focus{ outline: none;}
.btm_menu div.active img{
    transform:scale(1.5) translateY(-0.35rem);
}



/* btn */
.btn-golden {
    width: 100%;
    border-radius: 60px;
    font-size: 0.88rem;
    padding:.45rem 1.2rem;
    background: #FACE34;
    border: 2px solid #FACE34;
    color: #fff;
    margin: auto;
    border: none;
    /* font-weight: 500; */
}
  
.btn-outline-golden {
    color: #FACE34;
    background-color  :transparent;
    border: 2px solid #FACE34;
    width : 100%;
    border-radius: 60px;
    font-size: 0.88rem;
    padding: .45rem 1.2rem;
    /* font-weight  : 500; */
}

  /* form */
  form{font-size :1rem;}
  .form-group{margin-bottom:25px;width: 100%;}
  form label{
    display:inline-block;
    margin-bottom:.5rem;
    touch-action:manipulation;
    font-size: 0.88rem;
  }
  .form-control {
    border-radius: .5rem;
    height       : 46px;
    margin-top   : .3rem;
    color        : #000;
    font-size    : 0.88rem;
    width: 100%;
    padding: .5rem .75rem;
    line-height: 1.25;
    background-color: #fff;
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.15);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ::placeholder {color: #818181;opacity: 1; }
  :-ms-input-placeholder {color: #818181;}
  ::-ms-input-placeholder {color: #818181;}

  .content form{padding:0 0.65rem;}
  /* login */
  .login form{padding:0 0.65rem;}
  .login .center div{
      font-weight: bold;font-size: 1.12rem;
      margin-bottom: 3rem;
  }
  .login div.info{margin-bottom:2rem;font-size: 0.88rem;}
  .login div.info a{color: #E1B700;}
  .login .center img{width: 60px;height: 60px;margin: 1rem;}
  .ts-login__divider{margin: 2rem 0;}
  .ts-divider {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    margin           : 2rem 0;
  }
  .ts-divider>span:first-child {
    width           : 100%;
    height          : 1px;
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
    background      : #D8DADC;
    display         : inline-block;
  }
  
  .ts-divider>span:last-child {
    width           : 100%;
    height          : 1px;
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
    background      : #D8DADC;
    display         : inline-block;
  }
  
  .ts-divider>span:not(:first-child):not(:last-child) {
    padding: 0 2rem;
  }

  /* version */

  .vinfo{
    font-size: 0.88rem;
    padding: 1rem 0;
    border-bottom: 1px solid #E7E9EB;
    display: flex;
    justify-content: space-between;
    line-height: 1.25rem;
    position: relative;
  }
  .vinfo label{
      font-weight: normal;
      display: flex;
      align-items: center;
 }
  .vinfo span{
      color:#898989;
      display: inline-block;
      max-width: 50vw;
      text-align: right;
      line-height: 1.25rem;
}
.vinfo.check label::after{
    content:'';
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-image: url('../img/checked_y.png');
    right: 0.25rem;
    background-size: 1.25rem;
    top: 0.5rem;
    background-position: center;
}
.toggle{display: inline-block;}
  
.toggle-switch {
    display       : inline-block;
    background    : #e3e6e9;
    border-radius : 16px;
    width         : 55px;
    height        : 30px;
    position      : relative;
    vertical-align: middle;
    transition    : background 0.25s;
  }
  
  .toggle-switch:before,
  .toggle-switch:after {
    content: "";
  }
  
  .toggle-switch:before {
    display      : block;
    background   : #ffffff;
    border-radius: 50%;
    width        : 24px;
    height       : 24px;
    position     : absolute;
    top          : 3px;
    left         : 4px;
    transition   : left 0.25s;
  }
  
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  
  }
  
  .toggle-checkbox:checked+.toggle-switch {
    background: #FACE34;
  }
  
  .toggle-checkbox:checked+.toggle-switch:before {
    left: 28px;
  }
  
  .toggle-checkbox {
    position  : absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    margin-left: 5px;
    position   : relative;
    top        : 2px;
  }

  .notice{
    width: 100vw;
    position: relative;
    left: -1rem;
    padding: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-shadow:0px 4px 5px #E7E7E7;
	-moz-box-shadow:0px 4px 5px #E7E7E7;
	box-shadow:0px 4px 5px #E7E7E7;
  }

  .vtitle{
    font-weight: bold;border-bottom:none;font-size: 1rem;padding: 1.15rem 0;
  }
  
  .lock{
      margin:2.15rem auto;
      padding: 1.25rem;border: 1px solid #CDD5DF;
      width: 2.5rem;height: 2.5rem;
      border-radius: 3.5rem;
      background-image: url('../img/lock.png');
      background-repeat: no-repeat;
      background-size: 2rem auto;
      background-position: center;
  }
  .mail{
    margin:2.15rem auto;
    padding: 1.25rem;border: 1px solid #CDD5DF;
    width: 2.5rem;height: 2.5rem;
    border-radius: 3.5rem;
    background-image: url('../img/mail.png');
    background-repeat: no-repeat;
    background-size: 3rem auto;
    background-position: center;
}
.mail_info p{
    font-size: 0.88rem;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}
.mail_info span{
    display: block;
    color:#898989;
    font-size: 0.88rem;
    line-height: 1.2rem;
    margin-bottom: 1.75rem;
}

label.require::after{
    content: '*';
    display: inline-block;
    color:#FF8471;

}
.form-group p{
    margin: 0.75rem 0;
}
.tag-wrapper {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0.5rem;
}
.item_tag {
    font-size: 0.88rem;
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
    color: #898989;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    
}

.item_tag label{
    display: block;
    /* border: 1px solid #d8dadc; */
    margin: 0.25rem 0.45rem;
    /* background-color: #fff; */
    /* padding: 0.75rem; */
    border-radius: 0.5rem;
}
.item_tag input{display: none;}
.item_tag label span{
    width: 100%;
    display: block;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    border: 1px solid #D8DADC;
    background: #fff;
}
.item_tag label input:checked+span{
    background-color: #FACE34;
    border: 1px solid #FACE34;
    color: #fff;
    width: 100%;
    display: block;
}
.faqlist{
    flex-wrap: wrap;
    padding: 0.25rem;
    box-sizing: border-box;
}
/* .faqitem */
.faqlist a{
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #383537;
    text-align: center;
    border: 1px solid #D8DADC;
    box-sizing: border-box;
    max-width: 48%;
    width: 50vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    box-shadow:0 1px 3px #E6E6E6;
}
.faqlist a:nth-child(odd){
    margin-right: 4%;
}
.faqitem{
    
}
.faqitem img{width:40%;}
.faqitem span{
    display: block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.findList{
    padding: 0 0.25rem 4rem 0.25rem;
    flex-direction: column;
    box-sizing: border-box;
    
}
.finditem{
   /* display: flex;
   flex-wrap: wrap;
   align-self:stretch; */
   display: block;
   position: relative;
   
}
.finditem span{
    width: 100%;
    padding-left: 1rem;
    line-height: 3.25rem;
    font-size: 1.13rem;
    font-weight: bold;
    position: relative;
}
.finditem .findImg{
    position: relative;
}
.findImg img{
  width: 100%;
  border-radius: 0.65rem;
  display:inherit;
}
.findImg::after{
    content:'';
    width: 2.5rem;
    height: 4px;
    background: #FACE34;
    position: absolute;
    left: 1rem;
    bottom:-2px;
    display: block;
}
.faq_detail{}
.faq_detail input{display: none;}
.faq_detail input:checked ~ .faq_txt{

    max-height: 200vh;
}


.faq_detail input:checked+.faq_titlt i{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
i.arrow_up{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-image: url('../img/arrow_down.png');
    right: 1.15rem;
    background-size: 1.25rem;
    top: 0.5rem;
    background-position: center;
}
.faq_titlt{
    font-weight: bold;
    border-bottom: 1px solid #E7E9EB;
    display: flex;
    position: relative;
    padding: 1.5rem 3rem 1.5rem 3.5rem;
    align-items: center;
}
.faq_titlt::before{
    content: 'Q';
    background: #FACE34;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color:#fff;
    border-radius: 2rem;
    display: block;
    position: absolute;
    left: 0.75rem;
    top:1.5rem;
}
.faq_titlt i{
    display: block;
    color: #BDBDBD;
    display: block;
    position: absolute;
    right: 1.25rem;
    font-size: 1.25rem;
    top: 1.25rem;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.faq_txt{
    font-size: 0.88rem;
    display: block;
    position: relative;
    align-items: flex-start;
    border-bottom: 1px solid #E7E9EB;
    -webkit-transition: max-height 0.3s; 
    -moz-transition: max-height 0.3s; 
    -ms-transition: max-height 0.3s; 
    -o-transition: max-height 0.3s; 
    transition: max-height 0.3s;  
    overflow: hidden;
    max-height: 0;
    padding-left: 3.5rem;
}
.faq_txt p{
    padding:0.45rem;
    margin-bottom:0;
    min-height: 4rem;
    display: inline-flex;
    align-items: center;
}
.faq_txt::before{
    content: 'A';
    background: #C8CAD3;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color:#fff;
    border-radius: 2rem;
    display: block;
    position: absolute;
    left: 0.75rem;
    top: 1.5rem;
}

.faq_txt ol,
.faq_txt ul{
    list-style: inherit ;margin: initial ;padding: initial;
    margin-left:1.5rem;margin-bottom: 1rem;
}
.faq_txt ol{list-style: decimal ;}
.faq_txt ol li,
.faq_txt ul li{margin: initial ;padding: initial ;}

.innerhmtl ol,
.innerhmtl ul{
    list-style: inherit ;margin: initial ;padding: initial;
    margin-left:1.5rem;margin-bottom: 1rem;
}
.innerhmtl ol{list-style: decimal ;}
.innerhmtl ol li,
.innerhmtl ul li{margin: initial ;padding: initial ;}
.innerhmtl .ql-size-large,
.innerhmtl ul .ql-size-large,
.innerhmtl ol .ql-size-large{font-size: 1.15rem !important;}
.innerhmtl p{margin-bottom: 0;}
/* product */
.prodlist{
    flex-wrap:wrap;
    padding-bottom: 8rem;
    height: max-content;
    position: relative;
}
.swiper-slide.video{
    display:inherit !important;
}
.prod{
  
}
.prod .pic {
    width: 100vw;
    position: relative;
    display: inherit;
}
.prod .pic::after{
    content: '';
    height: 4px;
    position: absolute;
    background: #FACE34;
    bottom: -2px;
    left: 1.25rem;
    width: 2.5rem;
    z-index: 2;
}
.prod .pic img{
    width: 100%;height: auto;display: inherit;
}
.prod .pic span.tag{
    background-color: #FACE34;
    color:#fff;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.88rem;
    padding: 0.35rem 0.88rem;
    z-index: 2;
}
.prod h1{
  font-weight: bold;
  font-size: 1.15rem;
  margin-bottom: 0.75rem;
}
.prod .info{
    padding: 1rem 1.25rem;
}
.prod .brief{
  color:#898989;
  font-size: 0.95rem;
}
.prod .price{
    color:#C79958;
    font-weight: bold;
    font-size: 1.38rem;
}
.prod .tag{line-height: 1.35rem;}
.prod .tag span{
    font-weight: bold;
    padding-right: 0.5rem;
    display: inline-block;
}
.prod .tag span::before{
    content: '• ';
    color:#FACE34;
}
.card{
    padding: 1.5rem 1.25rem;
    font-size: 0.96rem;
    line-height: 2rem;
    width: 100vw;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card .item{
    display: flex;
    padding-bottom: 0.5rem;
  }
  .card .item label{
   font-weight: bold;
   display: block;
   flex: 6rem 0 0;
   line-height: 1.15rem;
  }
  .card .item span{
    color:#898989;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
  }
.fill_bottom{
    padding-bottom: 6rem;
}
.around {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.75rem;
    font-size: 0.92rem;
}
.around .icon{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.75rem;
    display: inline-block;
    flex: 0 0 2.5rem;
}
.around label{
    color: #000;
    font-weight: bold;
    display: block;
    line-height: 1.5rem;
    width: 100%;
}
.around div{
    display:flex;
    flex-wrap:wrap;
    min-height: 2.5rem;
    align-items: center;
  }
.around div span{
    color:#898989;
    font-weight:lighter;
    line-height: 1.25rem;
    display: inline-block;
}

.card .title{
  font-weight: bold;font-size: 1rem;margin-bottom:1rem;
}
.card .desc{
    color:#898989;margin-bottom:1rem;
  }
.top_shadow{
   background-image: url('../img/shadow_bg.png');
   background-repeat: repeat-x;
   background-position:top;
}
.innerhmtl p {word-break:break-all;}
.card_tab{
    padding: 1rem 0 0.5rem 0;
    font-size: 0.96rem;
    line-height: 2rem;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card_tab li{
color: #898989;
position: relative;
margin: 0 0.5rem;
/* padding: 0 2rem; */
min-width: 6rem;
text-align: center;
}
.card_tab li.active{
color: #FACE34;
}
.card_tab li.active::after{
    content: '';
    position: absolute;
    height: 3px;
    top: 2.45rem;
    left: 0;
    width: 100%;
    display: block;
    background: #FACE34;
}

.fullw{
    max-width:100%;height: auto;
    border-radius: 0.75rem;
}
.tab_cnt{padding: 1.15rem;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100vw;
}
.tab_cnt h3{
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 1.25rem;
    margin-bottom: 0.78rem;
}
.tab_cnt .floor{
width: 68vw;
display: block;
box-shadow: 0 0 1em #EEEEEC;
border-radius: 0.75rem;
}
/* .tab_cnt .floor img{
    width:100%;
    height:auto;
    border-radius: 0.75rem 0.75rem 0 0;
} */
.tab_cnt .floor img{
    display: inherit;
    margin: auto;
    height:auto;
    max-width: 100%;
    max-height: 53vw;
    border-radius: 0.75rem 0.75rem 0 0;
}
.floorslider{
    width:68vw;
    margin: 1rem auto 1rem 0;
    overflow: visible;
}
.floorslider .swiper-slide{margin-right: 15px;}
.floor .info p{
font-size: 1rem;
margin-bottom: 0.25rem;
}
.floor .info span{
    color: #898989;
    font-size: 0.88rem;
    display: block;
    line-height: 1.25rem;
}
.fullslider{
    width: 100vw;
    position: relative;
    left: -1.15rem;
}
.fullslider img{
    width: 100vw;
}
.slider{
    margin-bottom: 1rem;
}
.slider img{
    width:100%;
    border-radius: 0.75rem;
}
.swiper-pagination-bullet{
 background: #DADFE9;opacity: 1;
}
.swiper-pagination-bullet-active{
    background: transparent;
    border: 2px solid #FACE34;
    top: 2px;
    position: relative;
}
.prod .act{

}
.act h2{
 font-size: 1.2rem;
}

.act_info{
    border-bottom: 1px solid #E0E0E0;
    padding: 1rem 0;
}
.act_info h3{
    font-size: 0.88rem;
}
.act_info .atype{
    background-color: #FACE34;
    color:#fff;
    font-size: 0.68rem;
    padding: 0.15rem 0.35rem;
    display: inline;
}
.act_info span{
    color: #898989;
    font-size: 0.88rem;
    display: block;
    line-height: 1.45rem;
}

.share{
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100vw;
    box-shadow: 0 0 1em #EEEEEC;
    display: flex;
    padding: 0.75rem 1.25rem 3rem 1.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
}
.share .col-6{
    padding:0 0.5rem; 
}
div.btn{
    padding:.65rem 1.2rem;text-align:center;
}

.headpadding{
    margin-top: 5.5rem;
}
.trendblock,.siteblock{
    flex-wrap:wrap;
    padding-bottom: 8rem;
    height: max-content;
    position: relative;
    z-index: 0;
}
.trend .pic {
    width: 100vw;
    position: relative;
}
.trend .pic::after{
    content: '';
    height: 4px;
    position: absolute;
    background: #FACE34;
    bottom: -2px;
    left: 1.25rem;
    width: 2.5rem;
}
.trend .pic img{
    width: 100%;height: auto;
    display: inherit;
}
.trend .pic span{
    background-color: #FACE34;
    color:#fff;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.88rem;
    padding: 0.35rem 0.88rem;
}

.trendSelct{
    background-image: url('../img/opacity.png');
    width: 100vw;
    position: absolute;
    height: 3rem;
    line-height: 3rem;
    z-index: 10;
    padding-left: 1.15rem;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.trendSelct::after{
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-image: url('../img/arrow_down.png');
    right: 1.15rem;
    background-size: 1.25rem;
    top: 0.5rem;
    background-position: center;
}
.trendSelct select{
    opacity: 0;
    width: 100vw;
    position: absolute;
    left: 0;
    height: 3rem;
    z-index: 1;
}

.trend h1{
font-weight: bold;
font-size: 1.15rem;
margin-bottom: 0.75rem;
line-height: 1.5rem;
}
.trend .info{padding: 1rem 1.25rem;width: 100vw;box-sizing: border-box;}
.trend .tag{margin-bottom: 0.15rem;font-size: 0.85rem;color: #898989;}
.trend .brief{
    color:#898989;
    font-size: 0.95rem;
    margin-top: 1.25rem;
}

.trend .content{
    color:#898989;
    font-size: 0.95rem;
}

.trend .content img{width: 100%;height: auto;}
.trend .content p{font-size: 0.96rem;line-height: 1.35rem;padding: 1.25rem 0;margin-bottom: 0;}
.trend .content span{width: 100%;font-size: 0.75rem;}

.trendmsg{
color:#FF8471;
font-size: 0.85rem;
text-align: center;
width: 100%;
padding: 0.5rem;
padding-bottom:0.75rem;
}


.trd_info{
    border-bottom: 1px solid #E0E0E0;
    padding: 0.75rem 0;
    display: flex;
}
.trd_info h3{
    font-size: 1rem;
    color: #383537;
    height: 4.25rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp:3;    
    -webkit-box-orient: vertical;
}
.trd_info .img{
  /* width: 8rem; */
  position: relative;
  
  overflow: hidden;
  flex: 0 0 8rem;
  margin-right: 0.75rem;
}
.trd_info .img img{
  width:100%;
  border-radius: 0.5rem;
}
.trd_info .img span{
    background-color: #FACE34;
    color:#fff;
    font-size: 0.68rem;
    padding: 0.15rem 0.35rem;
    position: absolute;
    right: 0;
    line-height: 1rem;
    border-radius: 0 0.35rem 0 0;
}
.trd_info .info{
    color: #898989;
    font-size: 0.88rem;
    display: block;
    line-height: 1.45rem;
}

.trendslider{
    width: 68vw;
    margin: 1rem auto 1rem 0;
    overflow: visible;
}
.trendslider .swiper-slide{margin-right: 15px;}
.tradecmd{
width: 68vw;
display: block;
box-shadow: 0 0 1em #d4d4d4;
border-radius: 0.75rem;
}
.tradecmd img{
    width:100%;
    /* height:auto; */
    height:54vw;
    border-radius: 0.75rem 0.75rem 0 0;
}
.tradecmd .info{
    padding: 0 1.25rem 1rem 1.25rem;
}
.tradecmd .info h3{
    font-size: 1rem;
    line-height: 1.5rem;
    height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp:2;    
    -webkit-box-orient: vertical;
}
.tradecmd .info span{
    color: #898989;
    font-size: 0.88rem;
    display: block;
    line-height: 1.25rem;
}
.ctrl{
 color: #898989;
 display: flex;
 justify-content: space-between;
 padding: 1rem;
 padding-bottom: 0;
}
.ctrl .pre{

}
.ctrl .next{
    
}
.ctrl .pre::before{
    content: '';
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
    top: 0.15rem;
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    background-repeat: no-repeat;
    background-image: url('../img/arrow_gl.png');
    background-position: center;
}
.ctrl .next::after{
    content: '';
    display: inline-block;
    position: relative;
    margin-left: 0.5rem;
    top: 0.15rem;
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    background-repeat: no-repeat;
    background-image: url('../img/arrow_gr.png');
    background-position: center;
}

.typeSelect,.siteSelect{
    background-image: url('../img/opacity.png');
    width: 50vw;
    position: absolute;
    height: 3rem;
    line-height: 3rem;
    z-index: 10;
    padding-left: 1.15rem;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.siteSelect{
    right: 0;
}
.typeSelect::after,.siteSelect::after{
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-image: url('../img/arrow_down.png');
    right: 1.15rem;
    background-size: 1.25rem;
    top: 0.5rem;
    background-position: center;
}
.typeSelect select,.siteSelect select{
    opacity: 0;
    width: 50vw;
    position: absolute;
    left: 0;
    height: 3rem;
    z-index: 1;
 }

.site .pic {
width: 100vw;
position: relative;
}
.site .pic::after{
content: '';
height: 4px;
position: absolute;
background: #FACE34;
bottom: -2px;
left: 1.25rem;
width: 2.5rem;
z-index: 10;
}
.site .pic img{
width: 100%;height: auto;display: inherit;
}
.site .pic span.tag{
background-color: #FACE34;
color:#fff;
position: absolute;
right: 0;
bottom: 0;
font-size: 0.88rem;
padding: 0.35rem 0.88rem;
z-index: 5;
}
.site .info{padding: 1rem 1.25rem;color: #898989;}
.site .info h1{font-size: 1.15rem;color: #383537;margin-bottom: 0.75rem;}
.site .date{margin-bottom: 0.25rem;}
.site .addr{margin-bottom: 1rem;}
.site .date::before{
    content: '';
    background-image: url('../img/calendar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 0.25rem;
}
.site .addr::before{
    content: '';
    background-image: url('../img/map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    width: 1rem;
    height: 1.35rem;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 0.25rem;
}

.site_info{
    border-bottom: 1px solid #E0E0E0;
    padding: 0.75rem 0;
    display: flex;
}
.site_info:last-child{
    border-bottom:none;
}
.site_info h3{
    font-size: 1rem;
    color: #383537;
}
.site_info .img{
  /* width: 8rem; */
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  flex: 0 0 8rem;
  margin-right: 0.75rem;
}
.site_info .img img{
  width:100%;
}
.site_info .img span{
    background-color: #FACE34;
    color:#fff;
    font-size: 0.68rem;
    padding: 0.15rem 0.35rem;
    position: absolute;
    right: 0;
    line-height: 1rem;
}
.site_info .info{
    color: #898989;
    font-size: 0.88rem;
    display: block;
    line-height: 1.45rem;
}
.site_info span.date{
    display: block;
    line-height: 1.75rem;
 }
.site .pic span
.full-slider{
    width: 100vw;
    position: relative;
}

.sminrslider{
    width:68vw;
    margin: 1rem auto 1rem 0;
    overflow: visible;
}
.sminrslider .swiper-slide{margin-right: 15px;}
.sminrcmd{
width: 68vw;
display: block;
box-shadow: 0 0 1em #d4d4d4;
border-radius: 0.75rem;
position: relative;
}
.sminrcmd .tag{
    background: #EFC947;
    position: absolute;
    left: 0;
    top: 1.5rem;
    font-size: 0.88rem;
    padding: 0 0.5rem;
    line-height: 1.5rem;
    border-radius: 0 0.75rem 0.75rem 0;
}
.sminrcmd img{
    width:100%;
    /* height:auto; */
    height:54vw;
    border-radius: 0.75rem 0.75rem 0 0;
}
.sminrcmd .info{
    padding: 0 1.25rem 1rem 1.25rem;
}
.sminrcmd .info h3{
    font-size: 1rem;
    line-height: 1.5rem;
    height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp:2;    
    -webkit-box-orient: vertical;
}
.sminrcmd .info span{
    color: #898989;
    font-size: 0.88rem;
    display: block;
    line-height: 1.25rem;
}

.card h3{font-size: 1.15rem;color:#383537;}
div.pshare{
    margin: 1rem 0;
    padding: .25rem 1.2rem;
}


.schedule{
    color:#898989;
}
.schedule h3{
    color:#383537;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}
.schedule p{
    font-size: 0.88rem;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
}
.schedule ul li{position: relative;padding-left: 1.5rem;display: block;}
.schedule ul li .time{padding-right:0.75rem;}
.schedule ul li::before{
    content: '';
    width: 12px;
    height: 12px;
    background: #CBD5E0;
    display: block;
    border-radius: 12px;
    position: absolute;
    top: 9px;
    left: 4px;
}
.schedule ul li .line{
    width: 2px;
    height: 100%;
    background: #CBD5E0;
    display: block;
    position: absolute;
    top: 15px;
    left: 9px;
}
.schedule ul li:last-child .line{
    display: none;
}

.sminrslider .date::before{
    content: '';
    background-image: url('../img/calendar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 0.25rem;
}
.sminrform{
    border-bottom: 1px solid #E7E9EB;
}
.sminrPost{
    padding:1.5rem 0.25rem 2.5rem 0.25rem
}
.sminrPost textarea{height:12rem;}
.sminrSelct{position: relative;margin-bottom: 1rem;display: block;font-weight: bold;color: #383537;}
.sminrSelct::after{
    content: '';
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-image: url('../img/arrow_down.png');
    background-size: 1rem;
    display: inline-block;
    background-position: center 0.15rem;
    margin-left: 0.25rem;
}
.sminrSelct select{
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    height: 2rem;
    z-index: 1;
}

.form-group .count{
 display: flex;
}
.form-group .count .add,
.form-group .count .no,
.form-group .count .less{
    height       : 46px;
    width:46px;
    margin-top   : .3rem;
    background-color: #fff;
    border:1px solid rgba(0,0,0,.15);
}
.form-group .count .no{
    width: 60px;
    color:#898989;
    line-height: 46px;
    text-align: center;
}
.form-group .count .add{
    border-radius:0 .5rem .5rem 0;
    border-left: none;
    background-repeat: no-repeat;
    background-image: url('../img/add.png');
    background-size: 23px;
    background-position: center;
}
.form-group .count .less{
    border-radius: .5rem 0 0 .5rem;
    border-right: none;
    background-repeat: no-repeat;
    background-image: url('../img/less.png');
    background-size: 23px;
    background-position: center;
}
.pload{
    width: 100%;
    background-image: url('../img/cloading.gif');
    background-size:3rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 5rem;
}

.trd_info .pre{
    display: block;
    min-height: 0.35rem;
    width: 100%;
}

.trd_info .img.pre,
.trd_info span.pre{
    margin: 1rem 0;
    background: #E6E7E8;
}
.trd_info span.pre:first-child{
    margin-top: 0.55rem;
}
.trd_info .img.pre{
    margin: 0.25rem;
    margin-right: 1rem;
    height: 5rem;
}
.init{width: 100vw;height: 100vh;color:#fff;}
img.init{height: 100vh;}
.init-pagination{top: 60vh;}
.covermsg{display: flex;flex-wrap: wrap;position: absolute;top: 48vh;width: 100vw;z-index: 3;color: #fff;}
.covermsg h1,.covermsg p{width: 100vw;text-align: center;}
.covermsg h1{font-size: 1.55rem;}
.covermsg p{font-size: 0.88rem;margin-top: 2vh;}
.covermsg .col-12{}
.init_a{width: 100vw;text-align: center;color: #FACE34;margin-top: 3vh;}

.home{
    width: 100vw;
    /* height: 85vh; */
    background-image: url('../img/home.png');
    background-size:100vw;
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    color: #fff;
    overflow-x: hidden;
}
.home .topblock{
 position: relative;
}
.home .topblock .center{margin-top: 35vw;}
.home .topblock h5{
    font-weight: 300;
    margin-bottom: 0.75rem;
}
.home .topblock h3{
    font-size: 1.56rem;
    margin-bottom: 0.75rem;
    font-weight: 300;
}
.home .topblock h6{
    font-size: 0.88rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.home .topblock a{
}
.home .slash{
    width: 160vw;
    height: 120vw;
    position: absolute;
    transform: rotate(31deg);
    top: 57vh;
    left: -45vw;
    background: #F9F9FB;
}
.homeblock{
    margin-top: 26vw;padding-bottom:0;width: 100vw;
    /* overflow-x: hidden;overflow-y: scroll; */
}
.homeblock h3{color:#383537}
.homeblock .card{background: #F9F9FB;}
.homeblock estate-slider .card:first-child{background: transparent;}
.homeslider{
    margin: 1rem auto 2rem auto;
    overflow: visible;
}
.homeslider .swiper-slide{
    margin-right:10px;
}
.hometitle{
    position: relative;
    z-index: 2;
    color: #383537;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
}
.hometitle a{display:block;position: relative;right: 0;font-size:0.88rem;color:#898989;text-decoration: none;}
.homecmd{width: 80vw;display: block;border-radius: 0.75rem;position: relative;}
.homecmd .imgblock{
    width: 80vw;height: 80vw;overflow: hidden;
    border-radius: 0.75rem;
    /* box-shadow: 0 0px 4px #888888; */
}
.homecmd img{
    width:100%;
    height:100%;
}
.homecmd .info{
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    width: 55vw;
    left: 8.5vw;
    bottom: -5vw;
    box-shadow: 0 -1px 8px #888888;
    background: #fff;
}
.homecmd .info h3{font-size: 1rem;line-height: 1.5rem;color: #383537;}
.homecmd .info span{
    color: #898989;
    font-size: 0.88rem;
    display: block;
    line-height: 1.25rem;
}
div.swiper-container-3d .swiper-slide-shadow-right,
div.swiper-container-3d .swiper-slide-shadow-left
{background-image:none;}
.home-pagination{
    position: absolute;
    bottom: -15vw !important;
    z-index: 100;
}
.homeblock .trd_info{border-bottom: none;}
.homeblock .trd_info:last-child{
    margin-bottom:8rem;
}
.basic{
    flex-direction:column ;
    margin-top: 6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0rem;
    min-height: calc(100vh - 6rem);
    height: fit-content;
}
.tool{
    display: flex;
    justify-content: space-around;
    height: 2.75rem;
    color: #898989;
    border-bottom: 1px solid #E0E0E0;
    position: fixed;
    width: 100vw;
    background: #fff;
    z-index: 1;
    top:5.5rem;
}
.tool div{
line-height: 2.5rem;
width: 100%;
text-align: center;
position: relative;
}
.tool div:first-child::after{
content: '';
position: absolute;
width: 1px;
height: 1.25rem;
background-color: #E0E0E0;
right: 0;
top: 0.65rem;
}
i.read{
    background-repeat: no-repeat;
    background-image: url('../img/read.png');
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: 0.95rem;
    background-position: center;
    position: relative;
    top: 2px;
    margin-right: 0.25rem;
}
i.del{
    background-repeat: no-repeat;
    background-image: url('../img/delete.png');
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: 0.95rem;
    background-position: center;
    position: relative;
    top: 2px;
    margin-right: 0.25rem;
}
.ntsitem{
    border-bottom: 1px solid #E0E0E0;
    padding: 0.85rem 0.15rem 0.85rem 1.5rem;
    position: relative;
}
.ntsitem label{
display: block;
font-weight: 600;
}
.ntsitem span.date{
  position: absolute;
  right: 0;
}
.ntsitem span{
font-size: 0.88rem;
color: #898989;
display: inline-block;
line-height: 1.25rem;
}
.ntsitem.unread::before{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FACE34;
    border-radius: 10px;
    left: 0;
    top: 1.5rem;
}
.empty{width: 4rem;height: 4rem;margin: 4rem auto;border: 1px solid #E0E0E0;border-radius: 4rem;text-align: center;line-height: 6.5rem;}
.empty img{width: 65%;display: inline-block;}
.emptilte{
    text-align: center;
    font-size: 1.5rem;
}

ul.statusbar{display: flex;position: relative;margin:1rem 0 2rem 0;justify-content: space-evenly;overflow: hidden;}

.statusbar li{
  width: 20vw;
  color: #D8DADC;
  text-align: center;
  position: relative;
}
.statusbar li span{
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: inline-block;
  border-radius: 2rem;
  border: 1px solid #D8DADC;
  line-height: 2rem;
  background: #F9F9FB;
  position: relative;
  z-index: 2;
}
.statusbar li:first-child{
    padding-left: 2.75rem;
}
.statusbar li:last-child{
    padding-right: 2.75rem;
}
.statusbar .visit span{
    background: #FACE34;
    color:#fff;
    border: 1px solid #FACE34;
    position: relative;
    z-index: 2;
}
.statusbar li::after{
    content: '';
    background: #D8DADC;
    position: absolute;
    top: 0.92rem;
    z-index: 1;
    width: calc(100%);
    height: 1px;
    position: absolute;
    left: calc(-50%);
}
.statusbar li.visit::after{
      content: '';
      background: #FACE34;
      position: absolute;
      top: 0.92rem;
      z-index: 1;
      width: calc(105%);
      height: 2px;
      position: absolute;
      left: calc(-50%);
}
.statusbar li:last-child::before{
    content: '';
    background: #D8DADC;
    position: absolute;
    top: 0.92rem;
    z-index: 1;
    width: calc(100%);
    height: 1px;
    position: absolute;
    right: calc(-50%);
}
.statusbar li.visit:nth-child(4)::before{
    content: '';
    background: #FACE34;
    position: absolute;
    top: 0.92rem;
    z-index: 1;
    width: calc(100%);
    height: 2px;
    position: absolute;
    right: calc(-50%);
}
.statusbar li.check span{
    background-image: url('../img/check.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
}
#prefer .form-group label{display: flex;}
#prefer .form-group label span{display: inline-block;margin-left:4px;}
.success{
    position: fixed;
    width: calc(100vw - 2.3rem);
    bottom: 2vh;
}
.rctmail h1{margin-top: 10vh;font-size: 1.5rem;text-align: center;}
.rctmail span{
width: 79vw;
display: block;
margin: auto;
font-size: 0.88rem;
line-height: 1.5rem;
text-align: center;
}
.rctmail .icon{
    width: 5rem;
    height: 5rem;
    margin: 2rem auto;
    border: 1px solid #E0E0E0;
    border-radius: 4rem;
    text-align: center;
    line-height: 6.5rem;
}
.rctmail .icon img{width: 65%;display: inline-block;}

.chart{width: 98vw;height: 90vw;}
.chart img{width: 98vw;height: 90vw;}

.asitem{
padding-top: 1rem;
padding-bottom: 12rem;
}
.asitem a{
    text-decoration: none;
}
.asitem .item{
padding: 1.25rem 1.5rem;
border-bottom: 1px solid #E7E9EB;
font-size: 1.12rem;
font-weight: 600;
color: #383537;
display: flex;
align-items: center;
position: relative;
}
.asitem .item img{
width: 2.35rem;
padding-right: 2rem;
}
.asitem .item::after{
    content: '';
    display: inline-block;
    position: absolute;
    margin-left: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-image: url('../img/arrow_gr.png');
    background-position: center;
    right: 2rem;
    top:1.5rem;
}

.income{
    padding: 1.25rem 1.75rem;
    display: flex;
    align-items: center;
}
.income label{
    width: 5rem;
    display: inline-block;
    font-weight: 600;
    font-size: 0.96rem;
    line-height: 1.25rem;
}
.income span{
    font-size: 1.25rem;
    font-weight: 600;
    color: #C79958;
    padding-left: 1rem;
}
.estate{width: 96vw;height: 55vw;margin: 0 auto 1rem auto;}
.estate img{width: 96vw;height: 54vw;}
.fundchart{
    width: 100%;
    height: 55vw;
    margin: 1rem auto 1rem auto;
    padding-bottom: 4rem;
}
.chartTop{
    display: flex;
    justify-content: space-between;
    margin-bottom:1rem;
    font-size: 1.05rem;
}
.chartTop label{
    margin: 0;
    color:#383537;
    font-size: 1.05rem;
    font-weight: bold;
}
.chartTop div{color:#DFDFDF;}
.chartTop div.upper{color:#FF8471;}
.chartTop div.down{color:#4FBE1D;}
.chartTop div div{color:inherit;}
.chartTop div h1{
    margin: 0;
    color:inherit;
    font-size: 1.05rem;
}
.chartTop div label{
    margin: 0;
    font-size: 0.88rem;
    padding:0 0.25rem ;
    color:inherit;
}
.chartTop span{
    font-size: 1.05rem;
}
.fundchart .upd{
    margin: 0;color:#383537;
    font-size: 0.75rem;
    text-align: right;
}    
.emptyCnt{
    width: 100vw;
    height: 78vw;
    background: #EFEEE9;
    background-image: url('../img/ast.png');
    background-repeat: repeat-x;
    background-position:top;
    margin-bottom: 6rem;
}
.tab_estate .emptyCnt img,
.emptyCnt img{
width: 75vw;
margin: auto;
display: block;
padding-top: 13vw;
}
.emptyCnt span{display: block;margin: auto;padding-top: 11vw;width:70%;text-align: center;line-height: 1.45rem;font-size: 0.88rem;}

.emptyGain{
    width: 100vw;
    height: 14rem;
    background: #EFEEE9;
    background-image: url('../img/ast.png');
    background-repeat: repeat-x;
    background-position:top;
}

.tab_estate .emptyGain img{width: 5rem;margin: auto;display: block;padding-top: 15vw;}
.emptyGain span{display: block;margin: auto;padding-top: 11vw;width:70%;text-align: center;line-height: 1.45rem;font-size: 0.88rem;}


.est_info{
    border-bottom: 1px solid #E0E0E0;
    padding: 0.75rem 0;
    display: flex;
}
.est_info:last-child{
    border-bottom:none;
}
.est_info .img{
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    flex: 0 0 8rem;
    margin-right: 0.75rem;
    max-height: 6rem;
}
.est_info .img img{
  width:100%;
}
.resend{color:#FACE34;text-decoration:underline;}
.est_info .img span{
    background-color: #FACE34;
    color:#fff;
    font-size: 0.68rem;
    padding: 0.15rem 0.35rem;
    position: absolute;
    right: 0;
    line-height: 1rem;
}
.est_info .info{
    color: #898989;
    font-size: 0.88rem;
    display: block;
    line-height: 1.45rem;
}
.est_info .info h3{
    font-size: 1rem;
    color: #383537;
    line-height: 1.5rem;
    height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp:2;    
    -webkit-box-orient: vertical;
}
.mestateblock{
    flex-wrap:wrap;
    padding-bottom: 8rem;
    height: max-content;
    position: relative;
    z-index: 0;
}
.mestate .pic {
    width: 100vw;
    position: relative;
    display: inherit;
}
.mestate .pic::after{
    content: '';
    height: 4px;
    position: absolute;
    background: #FACE34;
    bottom:-2px;
    left: 1.25rem;
    width: 2.5rem;
}
.mestate .pic img{
    width: 100%;height: auto;display: inherit;
}
.mestate .pic span{
    background-color: #FACE34;
    color:#fff;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.88rem;
    padding: 0.35rem 0.88rem;
}
.mestate h1{
font-weight: bold;
font-size: 1.15rem;
margin-bottom: 0.75rem;
line-height: 1.5rem;
color:#383537;
}
.mestate .info{
padding: 1rem 1.25rem;
}

.mestate .tag,
.mestate .no
{margin-bottom: 0.15rem;font-size: 0.85rem;color: #898989;}
.mestate .no{font-size: 0.75rem;}
.mestate .brief{
color:#898989;
font-size: 0.95rem;
margin-top: 1.25rem;
}

.tab_estate{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100vw;
}
.payinfo h3{
margin-bottom: 0.75rem;
}
.payinfo .payitem{display: flex;align-items: flex-start;margin-bottom: 0.5rem;}
.payitem label{color: #383537;width: 10rem;display: inline-block;line-height: 1.5rem;}
.payitem span{color: #898989;display: block;width: 100%;line-height: 1.25rem;}
.payitem span span.alert{
width: 100%;
font-size: 0.65rem;
color: #FF8471;
}

.planlist{
    display: block;
    text-align: center;width: 100vw;
    position: relative;left: -1.25rem;
    padding: 1rem;box-sizing: border-box;
    overflow: hidden;
}
.planlist::before{
    content: '';
    display: block;
    width: 100vw;
    height: 2px;
    background: #FACE34;
    position: absolute;
    left: 0rem;
    top: 4.35rem;
}
.planitem{
    display: inline-block;
    width: 100%;
    color: #898989;
    font-size: 0.88rem;
    line-height: 1.35rem;
    position: relative;
    z-index: 2;
}
.planitem label{
margin: 0.5rem 0;
display: block;
}
.planitem .icon{
width: 2rem;
height: 2rem;
background: #FACE34;
margin: auto;
margin-bottom: 0.5rem;
border-radius: 2rem;
background-size: 1.25rem;
background-image: url('../img/checked_w.png');
background-repeat: no-repeat;
background-position:center;
}
.planitem span{display: block;}
.planitem.check{
    color: #383537;
    font-size: 1rem;
    position: relative;
    top: -0.25rem;
    font-weight:600;
}
.check .icon{
width: 2.5rem;
height: 2.5rem;
background: #fff;
margin: auto;
margin-bottom: 0.5rem;
border-radius: 2rem;

background-size: 1.25rem;
background-image: url('../img/checked_y.png');
background-repeat: no-repeat;
background-position:center;
border: 2px solid #F3D056;
}
.planitem .icon.off{
    background-image:none;
    background: #fff;
    border: 2px solid #F3D056;
}

.struct h3{
    border-top: 1px solid #E7E9EB;
    padding: 1rem 0;
}
.struct p{
    color: #898989;
    font-size: 0.96rem;
    line-height: 1.25rem;
}

.tab_estate img{
    width: 100vw;
}

label.rentTitle{
font-size: 1.15rem;
}
span.rent{
    color: #C79958;
    font-size: 1.35rem;
    line-height: 2rem;
}

.workpic{
    position: fixed;
    bottom: 0;
    z-index: 5;
    background: #fff;
    box-shadow: 0 -5px 7px #d0d0d0;
    transition:all 0.5s ease 0s;
}
.workpic h1{
    padding: 1.5rem 1.15rem;
    display: flex;
    justify-content: space-between;
}
.workpic h1 span{
    font-size: 0.88rem;
    color: #898989;
}
.workpic .card{padding:1rem 1.25rem}
.workpic .card p{
    color: #898989;
    font-size: 0.92rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.workpic .fullslider img{
    width: auto;
    max-width: 100vw;
    max-height: 40vh;
    display: block;
    margin: auto;
}

.yearSelect{
    overflow: auto;
    white-space: nowrap;
    padding: 1.15rem 1.15rem 0.5rem 1.15rem;
}
.yearSelect li{display: inline-block;font-size: 0.8rem;padding: 0.5rem 1rem;}
.yearSelect li.active{
    background: #C8CAD2;
    border-radius: 1rem;
    color: #fff;
}
.gaininfo{padding: 0.5rem 1.25rem 1.5rem 1.25rem;}
.gaininfo .gainitem{display: flex;align-items: flex-start;margin-bottom: 0.5rem;}
.gainitem label{color: #383537;width: 15rem;display: inline-block;line-height: 1.5rem;}
.gainitem span{color: #898989;display: block;width: 100%;line-height: 1.25rem;}

.gain{padding:1.5rem 0 1rem 0}
.gain table{width: 100vw;}
.gain table tr{border-bottom:1px solid #E0E0E0}
.gain table tr th{padding: 0.75rem;color: #383537;font-size: 0.92rem;text-align: left;}
.gain table tr td{padding: 0.75rem;color: #898989;font-size: 0.92rem;}
.gain table tr td span{color:#E1B700;font-size: 0.88rem;}


.nodata{
    width: 100vw;
    height: 30rem;
    display: flex;
    align-items: center;justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color:#898989;
}
.nodata img{width: 70vw;}

/* my fund */
.fundarea{display: block;padding-left: 0;padding-right: 0;padding-top: 0;}
.fundList{display: block;}
.fundsum{
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    padding: 1.75rem 1rem;
    box-sizing: border-box;
}
.fundsum span
{font-weight: bold;color:#C79958;padding-left: 1rem;}
.insum
{font-weight: bold;color:#C79958;font-size: 1rem;}
.fundList .fundcard{
    padding: 1.75rem 1rem;
    box-sizing: border-box;
    color: #898989;
}
.fundcard .fname{
    font-size: 0.75rem;
}
.fundcard .ftag{
}
.fundcard .ftag span{
    margin-right: 1rem;
}
.fundcard .ftag span:last-child{
    margin-right: 0;
}
.fundcard hr{border: none; border-top: 1px solid #E7E9EB;margin: 1rem 0;}
.fundcard h1{margin:0.5rem 0;color:#383537;}
.fundcard .finfo{
    display: flex;
}
.fundcard .finfo.list .fmsg{
   flex:0 0 50%;
}


.fundcard .fmsg label{display:block;color:#383537;font-weight: bold;}
.fundcard .fmsg span{font-size:0.92rem}
.fmsg span.xs{font-size: 1.05rem;font-weight: normal;}
.fmsg .down{color: #4FBE1D;}
.fmsg .up{color:#C79958;}
.fmsg.record{
    background-image: url('../img/note.png');
    background-repeat: no-repeat;
    background-size: 1.15rem;
    background-position: 0 center;
    padding-left: 2rem;
}
.fundcard .flist{
    display: block;
}
.fundcard label.tilte{
    color:#383537;
}
.fundcard .yearSelect{
    position: relative;
    width: 100vw;
    left: -1rem;
    padding-top: 1.15rem;
    padding-bottom: 0;
    margin-bottom: 1.15rem;
    border-bottom: 1px solid #E7E9EB;
 }
.fundcard .yearSelect li{
    background: #fff;
    border-radius: 0;
    color:#898989;
}
.fundcard .yearSelect li.active{
    background: #fff;
    color: #E1B700;
    border-radius: 0;
    border-bottom: 3px solid #E1B700;
    position: relative;
    top:0;
}
.fundcard .tabSelect{
    position: relative;
    line-height: 1.15rem;
    padding-bottom: 0;
    margin-bottom: 1.15rem;
    border-bottom: 1px solid #E7E9EB;
    display: flex;
    width: 100vw;
    left: -1rem;
    justify-content: center;
 }
.fundcard .tabSelect li{
    background: #fff;
    border-radius: 0;
    color:#898989;
    flex: 0 0 30%;
    text-align:center;
    padding: 0.5rem;
    padding-top: 0;
}
.fundcard .tabSelect li.active{
    background: #fff;
    color: #E1B700;
    border-radius: 0;
    border-bottom: 3px solid #E1B700;
    position: relative;
    top:0;
}
.fundcard .content p{
  word-break: break-all;
  color: #383537;
}
.fundcard .content img{
    width: 100% !important;
    height: auto !important;
}
span.sm{
    font-size: 0.88rem;
    color:#383537;
    padding-top: 0.75rem;
    display: inline-block;
}
.fundcard .flist .fmsg {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
}
.fundcard .flist .fmsg label{
    line-height:1rem;
}
.fundcard .flist .fmsg label{
    display: inline-block;
    width: 45%;
}
.fundcard .flist .fmsg label span{
    font-size: 0.75rem;
    font-weight: normal;
    color:#898989;
}
.fundcard.center button:nth-child(2){
    margin-top: 1rem;
}
label.ftitle{
    display: block;
    color:#C79958;
    padding-bottom: 1rem;
    font-size: 0.88rem;
}

.fmsg span.unit{
    font-size: 1rem;
    color:#C79958;
    font-weight: bold;
    display: block;
    padding-top: 0.15rem;
}

.emptyFund{
    width: 100vw;
    height: 78vh;
    background: #EFEEE9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emptyFund .info{text-align: center;display: block;flex-wrap: wrap;justify-content: center;}
.emptyFund img{margin-bottom: 1rem;width: 60%;max-width: 160px;display: inline-block;}
.emptyFund span{display: block;}


#MsgLoading{
    display:block;width:100vw;height:100vh;opacity:1;position:fixed;top:0px;left: 0;
    z-index:1099;background-color:rgba(0, 0, 0, 0.1);
}
#MsgLoading #Icon{
    width:50px;height:50px;
    margin-top: -25px; /*高度的一半*/
    margin-left: -25px; /*寬度的一半*/
    border-radius: 10px;/*圓角*/

    position: absolute;top: 50vh; /*從上面開始算，下推 50% (一半) 的位置*/
    left: 50vw; /*從左邊開始算，右推 50% (一半) 的位置*/
    background-image:url("../../assets/img/rolling.svg");
    background-size:100%;
    background-color:#f5f5f5;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.loadingFadeIn{
    -webkit-animation: loadingIn 0.5s ease forwards;
    animation: loadingIn 0.5s ease forwards;
}
.loadingFadeOut{
    -webkit-animation: loadingOut 0.5s ease forwards;
    animation: loadingOut 0.5s ease forwards;
}
@-webkit-keyframes loadingIn {
    0% {-webkit-transform: scale(1.2);opacity: 0;}
    100% {-webkit-transform: scale(1);opacity: 1;}
}

@keyframes loadingIn {
    0% {transform: scale(1.2);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
}

@-webkit-keyframes loadingOut {
    0% {opacity:1;}
    90%{opacity:0;transform: translateX(0)}
    100% {opacity:0;transform: translateX(100vw)}
}

@keyframes loadingOut {
    0% {opacity:1;}
    90%{opacity:0;transform: translateX(0)}
    100%{opacity:0;transform: translateX(100vw)}
}


.pop_mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;left: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    display: table;
}
.pop_block{
    display: inline-block;
    width: 90vw;
    background: #F6F6F6;
    border-radius: 5px;
    max-width: 450px;
}

.pop_mid{
    text-align: center;
    display: table-cell;
    vertical-align:middle;
}
.pop_block h3{
    margin: 0;
    height: 45px;
    line-height: 45px;
    color: #383537;
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 0.5rem;
    border-radius: 5px 5px 0px 0px;
}
.pop_content{
    max-height: 70vh;
    padding:1.25rem 1rem;
    color:#898989;
}
.pop_content input[type=text], .pop_content input[type=password]{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 100%;
    margin:10px 0;
    padding: 5px;
}
.btn_group{display: flex;}
.btn_group div{cursor: pointer;}
.btn_group div:hover{background-color: #EAEAEA}
.btn_group div:nth-child(2){
    /* border-left:  1px solid #ddd; */
}
.btn_group .check,.cancel{
    /* border-top:  1px solid #ddd; */
    flex:1;
    line-height: 1.75rem;
    height: 1.75rem;
    color: #FACE34;
    background-color  :transparent;
    border: 2px solid #FACE34;
    width        : 100%;
    border-radius: 60px;
    font-size: 1.15rem;
    padding: .45rem 1.2rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.btn_group .check{
    color:#fff;
    background-color:#FACE34;
}
.ng-dirty.ng-invalid{border-color: red;}
.help-block{
    display: block;
    width: 100%;
    color: red;font-size: 0.75rem;
}

/* divice fixed */
.android .btm_menu{
    padding-bottom: 2.15rem !important;
}
.ios .btm_menu{
  padding-bottom: 0 !important;
}
.ios .share{
    padding-bottom: 1rem !important;
}
.ios .homeblock{margin-top: 10vw;}

.about,.terms{padding-bottom: 12rem;}
.about img{width: 100vw;}
.about .info{
    color:#898989;
    font-size: 0.95rem;
    margin-top: 1.25rem;
     padding: 1rem 1.25rem;
}

.terms .info{
    color:#898989;
    font-size: 0.95rem;
    margin-top: 1.25rem;
     padding: 1rem 1.25rem;
}
.terms h1{
    color:#383537;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}
.terms .info .item{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.terms .info .item label{
    flex: 0 0 25px;
    display: inline-block;
    font-size: 0.88rem;
}
.terms .info .item .sec_item .sec{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.terms .info .item .sec_item .sec label{
    flex: 0 0 20px;
}
.terms .info .item .sec_item .sec p{
    margin-bottom: 0.25rem;
}

table.tset {
border-collapse: collapse;
font-size: 0.92rem;
min-width: 100%;
width: 100%
}

table.tset,table.tset th,table.tset td {
border: 1px solid #E0E0E0;padding: 0.5rem;font-weight: normal;
}
table.tset th{
  background:#CACED8;color:#fff;
}
table.tset td{
    padding: 0.25rem;background:#FFFFFF;color:#383537;
}
table.tset tr:nth-child(2n) td{
    padding: 0.25rem;background:#FBFBFD;
}
table.tset tr td:first-child{
  text-align: center;vertical-align: middle;
}
