<div class="raw base content bg_gray">

    <!-- Form -->
    <form style="padding:1rem 0.65rem 2.5rem 0.65rem;" autocomplete="off" *ngIf="mainForm" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

        <p style="font-weight: bold;font-size: 1rem;">
            {{ 'A15.002' | i18n }}
        </p>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="require">{{ 'D331.002' | i18n }}</label>
                    <input type="text" class="form-control" formControlName="Name"
                    placeholder="{{ 'D331.003' | i18n }}" required>
                    <span class="help-block" 
                         *ngIf="!(mainForm.get('Name').valid || mainForm.get('Name').pristine)">{{ 'A15.021' | i18n }}</span>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label class="require">{{ 'D331.009' | i18n }}</label>
                    <input type="email" class="form-control"  formControlName="Email" [email]="true" 
                    placeholder="{{ 'D331.010' | i18n }}" required>
                    <span class="help-block" 
                         *ngIf="!(mainForm.get('Email').valid || mainForm.get('Email').pristine)">{{ 'A15.022' | i18n }}</span>
                </div>
            </div> 

            <div class="col-12" *ngIf="Countries">
                <div class="form-group">
                        <label class="require">{{ 'A15.007' | i18n }}</label>
                        <div class="select-container">
                            <select class="form-control" formControlName="Country" (change)="Prefix()">
                                <option value="">{{ 'A17.010' | i18n }}</option>
                                <ng-container *ngFor="let item of Countries;">
                                    <option [value]="item.value">{{item.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <span class="help-block" 
                              *ngIf="!(mainForm.get('Country').valid || mainForm.get('Country').pristine)">{{ 'D331.014' | i18n }}</span>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label class="require">{{ 'A15.009' | i18n }}</label>
                    <div class="col-12">
                        <div class="col-3">
                            <input type="tel" class="form-control" placeholder="+86" maxlength="4" formControlName="Prefix">
                        </div>
                        <div class="col-9" style="margin-left:0.5rem;">
                            <input type="tel" class="form-control" placeholder="{{ 'A15.010' | i18n }}" maxlength="12" formControlName="Phone" required>
                            <span class="help-block" 
                                 *ngIf="!(mainForm.get('Phone').valid || mainForm.get('Phone').pristine)">{{ 'A15.023' | i18n }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>Line/Wechat ID</label>
                <input type="text" class="form-control"  formControlName="SocialID" placeholder="{{ 'A15.025' | i18n }}" maxlength="50">
            </div>
        </div> 
        <div class="col-12" *ngIf="CntType">
            <div class="form-group">
                    <label class="require">{{ 'A15.011' | i18n }}</label>
                    <div class="select-container">
                        <select class="form-control" formControlName="ContactType" (change)="TypeChange()">
                            <option value="">{{ 'A15.012' | i18n }}</option>
                            <ng-container *ngFor="let item of CntType;">
                                <option [value]="item.value">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <span class="help-block" 
                        *ngIf="!(mainForm.get('ContactType').valid || mainForm.get('ContactType').pristine)">{{ 'A15.019' | i18n }}，{{ 'A15.012' | i18n }}</span>
            </div>
        </div>

        <div class="col-12" *ngIf="Estates && EstatesShow">
            <div class="form-group">
                    <label class="require">{{ 'A15.013' | i18n }}</label>
                    <div class="select-container">
                        <select class="form-control" formControlName="EstateId">
                            <option value="">{{ 'A15.024' | i18n }}</option>
                            <ng-container *ngFor="let item of Estates;">
                                <option [value]="item.ID">{{item.Name}}</option>
                            </ng-container>
                        </select>
                    </div>
            </div>
        </div>

        <div class="col-12" *ngIf="Times">
            <div class="form-group">
                    <label class="require">{{ 'A15.015' | i18n }}</label>
                    <div class="select-container">
                        <select class="form-control" formControlName="ContactTime">
                            <option value="">{{ 'A15.016' | i18n }}</option>
                            <ng-container *ngFor="let item of Times;">
                                <option [value]="item.value">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <span class="help-block" 
                                 *ngIf="!(mainForm.get('ContactTime').valid || mainForm.get('ContactTime').pristine)">{{ 'A15.016' | i18n }}</span>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                    <label>{{ 'D331.012' | i18n }}</label>
                    <textarea class="form-control" placeholder="{{ 'A15.018' | i18n }}"  formControlName="Note" 
                    style="height:12rem;"></textarea>
            </div>
        </div>
        
        <div class="center" style="margin-top: 1rem;">
            <button type="submit" class="btn-golden" [disabled]="!mainForm.valid">{{ 'A15.020' | i18n }}</button>
        </div>
    </form>

</div>