<div class="raw trendblock headpadding">

    <label class="trendSelct">
        {{typename}}
        <!--全部文章-->
        <select id="trend_select" [(ngModel)]="trendtype" (ngModelChange)="optionchange()">
            <option value="">{{ 'D21.002' | i18n }}</option>
            <ng-container *ngIf="trendoption">
                <option value={{item.value}} *ngFor="let item of trendoption;">{{item.name}}</option>
            </ng-container>
            <!-- <option value="1">類型1</option>
           <option value="2">類型2</option>
           <option value="3">類型3</option> -->
        </select>
    </label>

    <ng-container *ngIf="trendfirst && trendfirst.ID > 0">
        <div class="trend" routerLink="/layout/trend/detail/{{trendfirst.ID}}">
            <div class="pic">
                <img src={{trendfirst.Img}} />
                <span>{{trendfirst.TradeType}}</span>
            </div>
            <div class="info">
                <h1>{{trendfirst.Name}}</h1>
                <p class="tag">{{trendfirst.Author}}</p>
                <p class="tag">{{trendfirst.DisplayDate}}</p>
                <p class="brief">
                    {{trendfirst.Brief}}
                </p>
            </div>
        </div>
    </ng-container>
    <!-- <div class="trend" routerLink="/layout/trend/detail">
            <div class="pic">
                <img src="assets/img/temp/trend.jpg" />
                <span>财经</span>
            </div>
            <div class="info">
                <h1>出来借的总要还 2021年中国地产商偿债规模上看1兆人民币</h1>
                <p class="tag">巨石資本總經理 鄧鎮岳</p>
                <p class="tag">2019/06/24</p>
                <p class="brief">
                    2019 年中国房地产业需偿还债券规模达人民币 4994.5 亿元，到剛結2019 年中国房地产业需偿还债券规模...
                </p>
            </div>
        </div> -->
    <ng-container *ngIf="trendlist && trendlist.length > 0">
        <div class="card top_shadow">

            <div class="trd_info" routerLink="/layout/trend/detail/{{item.ID}}" *ngFor="let item of trendlist;">
                <div class="img">
                    <img src="{{item.Img}}" />  
                    <span>{{item.TradeType}}</span>
                </div>
                <div class="info">
                    <h3>{{item.Name}}</h3>
                    <span>{{item.DisplayDate}}</span>
                </div>
            </div>

            <!-- <div class="trd_info" routerLink="/layout/trend/detail">
                <div class="img">
                    <img src="assets/img/temp/trd2.png" />
                    <span>地产</span>
                </div>
                <div class="info">
                    <h3>出来借的总要还 2021年中国地产商偿债规模上看1兆人民币</h3>
                    <span>2019/6/24</span>
                </div>
            </div> -->
        </div>
    </ng-container>

       <ng-container *ngIf="trendfirst == null">
             <div class="nodata">
                <div>
                    <img src="assets/img/noData.png"/>
                    <div>{{ 'D21.008' | i18n }}</div>
                </div>
            </div>
        </ng-container>

    <ng-container *ngIf="menuHidden">
    <div class="share">
        <div class="col-12" style="flex-wrap:wrap;">
            <span class="trendmsg">{{ 'D21.006' | i18n }}</span>
            <div class="btn btn-golden" routerLink="/layout/login">{{ 'D21.007' | i18n }}</div>
        </div>
    </div>
    </ng-container>

</div>