<div class="raw trendblock">

    <ng-container *ngIf="trendData && trendData.ID > 0">
        <div class="trend">
            <div class="pic">
                <img [src]="trendData.Img"/>
                <span>{{trendData.TradeType}}</span>
            </div>
            <div class="info">
                <h1>{{trendData.Name}}</h1>
                <p class="tag">{{trendData.Author}}</p>
                <p class="tag">{{trendData.DisplayDate}}</p>
                <div class="content innerhmtl" [innerHtml]="trendData.Detail | htmlHandle">
                    <!-- {{trendData.Detail}} -->
                    <!-- <p>
                        根据中指院的数据显示，2019 年中国房地产业需偿还债券规模达人民币 4994.5 亿元，到 2020 年，这规模将上涨至人民币 6513.4 亿元，而到了 2021
                        年则上看近兆元人民币。随着债务到期规模连年成长，将使地产企业资金鍊出现巨大压力。
                    </p>
                    <img src="assets/img/temp/trend_img.jpg" />
                    <span>资料来源: wind，中国地产企业境内举债融资规模</span>
                    <p>
                        2019 年以来，中国地产企业融资出现一波高峰，虽然这一波的融资潮为这些地产开发商纾缓资金面的压力，但换句话说，密集的举债也显示出这些房地产企业面临沉重的资金压力。
                    </p>
                    <span>资料来源: 钜享网</span> -->
                </div>
            </div>
        </div>


        <div class="card top_shadow">
            <ng-container *ngIf="trendData.RecommandList && trendData.RecommandList.length > 0">
                <h3>{{ 'D22.001' | i18n }}</h3>
                <div class="swiper-container trendslider" id="trend">
                    <div class="swiper-wrapper">

                        <ng-container *ngFor="let item of trendData.RecommandList;">
                            <div class="swiper-slide" routerLink="/layout/trend/detail/{{item.ID}}">
                                    <div class="tradecmd">
                                        <img src="{{item.Img}}" />
                                        <div class="info">
                                            <h3>{{item.Name}}</h3>
                                        </div>
                                    </div>
                             </div>
                        </ng-container>
                        <!-- <div class="swiper-slide">
                            <div class="tradecmd">
                                <img src="assets/img/temp/around8.png" />
                                <div class="info">
                                    <h3>柬埔寨计划5年投资37亿美元修建6机场</h3>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </ng-container>
            <div class="ctrl">
                <div class="pre" *ngIf="trendData.BeforeID"
                routerLink="/layout/trend/detail/{{trendData.BeforeID}}">{{ 'D22.002' | i18n }}</div>
                <div *ngIf="trendData.BeforeID == ''"></div>

                <ng-container *ngIf="trendData.AfterID">
                    <div class="next" (click)="After(trendData.AfterID)" >{{ 'D22.003' | i18n }}</div>
                </ng-container>
            </div>

        </div>

        <div class="share">
            <div class="col-12">
                <!-- <div class="btn btn-outline-golden" shareUrl="type=trend&id={{id}}">分享</div> -->
                <div class="btn btn-outline-golden" (click)="ShareEvt()">{{ 'D22.004' | i18n }}</div>
            </div>
        </div>
    </ng-container>
</div>