<div id="main">

    <div class="header mainbg" id="header">
      <div class="left">
          <ng-container *ngIf="!IsBackShow">
                <span routerLink="/layout/msg" class="bell">
                <span class="count" *ngIf="PushCount > 0">{{PushCount}}</span>
                </span>
          </ng-container>
          <ng-container *ngIf="IsBackShow">
                <span  class="back" (click)="BackEvtTemp()"></span>
          </ng-container>
      </div>
      <div class="center" id="title">

      </div>
      <div class="right">
            <ng-container *ngIf="!IsBackShow || IsCntShow">
                    <span (click)="cToggle()" class="headset"></span>
            </ng-container>
      </div>
    </div>

    <div class="routeContent" [@routeAnimations]="prepRouteState(o)">
            <router-outlet #o="outlet"></router-outlet>
    </div>
  

    <div class="btm_menu" [style.bottom]="(tabShow)?'0':'-200px'">

        <div class="active" routerLink="/layout/home">
            <svg xmlns="http://www.w3.org/2000/svg">
            <path d="M0,25C18.75,21.313,18.75,7.833,37.5,7.833C56.25,7.833,56.313,21.188,75,25H0z"></path>
            </svg>
            <img src="assets/img/btm_icon1.png"/>
            <span>{{ menu.tab1 }}</span>
        </div>
        <div routerLink="/layout/myassets">
            <svg xmlns="http://www.w3.org/2000/svg">
            <path d="M0,25C7.583,24.334,23.75,23,37.5,23C56.25,23,69.584,24.084,75,25H0z"></path>
            </svg>
            <img src="assets/img/btm_icon2.png"/>
            <span>{{ menu.tab2 }}</span>
        </div>
        <div routerLink="/layout/estate">
            <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M0,25C7.583,24.334,23.75,23,37.5,23C56.25,23,69.584,24.084,75,25H0z"></path>
            </svg>
            <img src="assets/img/btm_icon3.png"/>
            <span>{{ menu.tab3 }}</span>
            </div>
        <div routerLink="/layout/find">
            <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M0,25C7.583,24.334,23.75,23,37.5,23C56.25,23,69.584,24.084,75,25H0z"></path>
            </svg>
            <img src="assets/img/btm_icon4.png"/>
            <span>{{ menu.tab4 }}</span>
        </div>
        <div routerLink="/layout/set">
            <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M0,25C7.583,24.334,23.75,23,37.5,23C56.25,23,69.584,24.084,75,25H0z"></path>
            </svg>
            <img src="assets/img/btm_icon5.png"/>
            <span>{{ menu.tab5 }}</span>
        </div>
     
    </div>
    <div class="contact {{(right_toggle) ? 'active' : ''}}">
        <h3>
          {{ menu.ctitle }}
          <span (click)="cToggle()">{{ menu.cancel }}</span>
        </h3>
        <div class="citem" callPhone="+886-2-2798-6788">
           <label>
                <img src="assets/img/c1.png"/>
           </label>
           <span>+886-2-2798-6788</span>
        </div>
        <!-- <div class="citem" openUrl="http://weixin.qq.com/r/rDhEXMzELZFSrYg-922_"></div> -->
        <div class="citem" style="display: none;" openUrl="weixin://">
           <label>
                <img src="assets/img/c2.png"/>
           </label>{{ menu.contact }}
        </div>
        <div class="citem" routerLink="/layout/contactus">
            <label>
                <img src="assets/img/c3.png"/>
           </label>{{ menu.online }}
        </div>
    </div>

    <div class="sharearea {{(share_toggle) ? 'active' : ''}}">
        <h3>
            {{ menu.sharetype }}
          <span (click)="sToggle()">{{ menu.cancel }}</span>
        </h3>
        <div class="citem" lineUrl="{{shareUrl}}">
           <label>
                <img src="assets/img/line.png"/>
           </label>
           <span>Line</span>
        </div>
        <!-- <div class="citem" openUrl="http://weixin.qq.com/r/rDhEXMzELZFSrYg-922_"></div> -->
        <div class="citem" shareUrl="{{shareUrl}}" openUrl="weixin://">
           <label>
                <img src="assets/img/wechat.png"/>
           </label>Wechat
        </div>
        <div class="citem" shareUrl="{{shareUrl}}">
            <label>
                <img src="assets/img/copy.png"/>
           </label>Copy
        </div>
    </div>
</div>
