

<div class="raw headpadding">
    <div class="about">
            <img class="" src="assets/img/about.png"/>
            <div class="info" *ngIf="lang == 'zh_CN'">
                <p>巨石集团2003年成立于香港，为专业金融投资集团，于臺北、深圳、厦门、上海、柬埔寨地区皆设有子公司或分支机构。服务版图分为金融、保险、地产三大领域，业务含盖：海外地产、股权併购、资产管理、保险规划、家族信託…等投资银行、私人银行、保险、地产等范畴。</p>
                <br/>
                <p>凭藉强大的金融专业团队，精准观察市场脉动，有效掌握投资机会。过去十多年来协助客户投资规划，创造价值。近年跨足海外地产、保险事业，并多元投资，以提供企业与高端富裕客户完整且优质的最适化财富管理服务。</p>
                <div class="center" style="margin-top:1.5rem;">
                        <button type="button" class="btn-golden" openUrl="http://www.titanstonegroup.com/zh-2/about/">了解更多</button>
                </div>
            </div>
            <div class="info" *ngIf="lang != 'zh_CN'">
                <p>Titan Stone Group, founded in Hong Kong, 2003, is a professional finance and investment group and has subsidiaries and offices in Taipei, Shenzhen, Xiamen, Shanghai, and Cambodia. The services include financing, insurance and real estate, such as overseas real estate, equity acquisitions, asset management, insurance planning and family trust, etc.</p>
                <br/>
                <p>With strong and professional finance team, Titan Stone Group has helped many clients to make their investment plans and increase their capital values in more than a decade. Titan Stone Group, in the recent years, involves into overseas real estate and diversified investments to provide comprehensive wealth management service with high quality for companies and clients.</p>
                <div class="center" style="margin-top:1.5rem;">
                        <button type="button" class="btn-golden" openUrl="http://www.titanstonegroup.com/">View more</button>
                </div>
            </div>

    </div>
</div>