<div class="raw base bg_gray">

  <div class="vinfo {{(langCode == 'zh_CN') ? 'check' : ''}}" (click)="setLang('zh_CN')">
      <label>{{ 'E91.002' | i18n }}</label>
  </div>
  <div class="vinfo {{(langCode == 'en_US') ? 'check' : ''}}" (click)="setLang('en_US')">
      <label>English</label>
  </div>

</div>