<div class="raw base bg_gray">

    <div class="vinfo notice">
        <label style="font-size: 1.15rem;">{{ 'E61.002' | i18n }}</label>
        <label class="toggle">
            <input class="toggle-checkbox" type="checkbox" [(ngModel)]="allset" (change)="Setall()"/>
            <div class="toggle-switch"></div>
            <span class="toggle-label"></span>
        </label>
    </div>
    <div class="vinfo vtitle">
        <label>{{ 'E61.003' | i18n }}</label>
    </div>
    <ng-container *ngIf="mainForm">
        <form [formGroup]="mainForm">

            <div class="vinfo" *ngIf="itemHidden">
                <label>{{ 'E61.004' | i18n }}</label>
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox"  (change)="Checkall()" formControlName="Pay">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"></span>
                </label>
            </div>
            <div class="vinfo" *ngIf="itemHidden">
                <label>{{ 'E61.005' | i18n }}</label>
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox"  (change)="Checkall()" formControlName="Rent">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"></span>
                </label>
            </div>
            <div class="vinfo">
                <label>{{ 'E61.006' | i18n }}</label>
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox"  (change)="Checkall()" formControlName="Estate">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"></span>
                </label>
            </div>
            <div class="vinfo">
                <label>{{ 'E61.007' | i18n }}</label>
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox"  (change)="Checkall()" formControlName="Activity">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"></span>
                </label>
            </div>
            <div class="vinfo">
                <label>{{ 'E61.008' | i18n }}</label>
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox"  (change)="Checkall()" formControlName="Trend">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"></span>
                </label>
            </div>
            <div class="vinfo">
                <label>{{ 'E61.009' | i18n }}</label>
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox"  (change)="Checkall()" formControlName="News">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"></span>
                </label>
            </div>
            <div class="vinfo">
                <label>{{ 'E61.010' | i18n }}</label>
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox"  (change)="Checkall()" formControlName="System">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"></span>
                </label>
            </div>
        </form>
    </ng-container>
    
</div>