<div class="raw base content bg_gray">

  <!-- Form -->
  <form style="padding:2.5rem 0.65rem;" autocomplete="off" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

      <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label class="require">{{ 'E31.002' | i18n }}</label>
                  <p style="font-weight: bold;">{{_User['Name']}}</p>
              </div>
          </div>

          <div class="col-12">
              <div class="form-group">
                  <label class="require">{{ 'E31.004' | i18n }}</label>
                  <p>{{_User['IdentityNo']}}</p>
              </div>
          </div> 
          
          <div class="col-12">
                <div class="form-group">
                    <label  class="require">{{ 'E31.005' | i18n }}</label>
                    <input type="date" class="form-control" placeholder="{{ 'E31.006' | i18n }}" formControlName="Birth" required (change)="DateCheck()"/>
                    <span class="help-block" 
                    *ngIf="!(mainForm.get('Birth').valid || mainForm.get('Birth').pristine)">{{ 'E31.013' | i18n }}</span>
                </div>
          </div>

          <div class="col-12">
              <div class="form-group">
                      <label class="require">{{ 'E31.007' | i18n }}</label>
                      <div class="select-container">
                        <select class="form-control" formControlName="Country" (change)="Prefix()">
                            <option value="">{{ 'E31.008' | i18n }}</option>
                            <ng-container *ngIf="Countries">
                                  <option [value]="item.value" *ngFor="let item of Countries;">{{item.name}}</option>
                            </ng-container>
                        </select>
                      </div>
                      <span class="help-block" 
                          *ngIf="!(mainForm.get('Country').valid || mainForm.get('Country').pristine)">{{ 'E31.013' | i18n }}</span>
              </div>
          </div>

          <div class="col-12">
              <div class="form-group">
                  <label class="require">{{ 'E31.009' | i18n }}</label>
                  <div class="col-12">
                      <div class="col-3">
                            <input type="tel" class="form-control" maxlength="4" placeholder="+86" formControlName="PhonePrefix" required/>
                      </div>
                      <div class="col-9" style="margin-left:0.5rem;flex-wrap:wrap;" >
                            <input type="tel" class="form-control" placeholder="{{ 'A15.010' | i18n }}" formControlName="Phone" required/>
                            <span class="help-block" 
                             *ngIf="!(mainForm.get('Phone').valid || mainForm.get('Phone').pristine)">{{ 'A15.023' | i18n }}</span>
                        </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="center" style="margin-top: 1rem;">
          <button type="submit" class="btn-golden">{{ 'E51.036' | i18n }}</button>
      </div>
  </form>

</div>