<div class="raw base content bg_gray">

  <!-- Form -->
  <form style="padding:1.5rem 0;" id="prefer" autocomplete="off" (ngSubmit)="FormSubmit()">

      <p style="font-weight: bold;font-size: 1rem;">{{ 'E51.002' | i18n }}</p>

      <div class="row">


        <div class="col-12">

            <div class="form-group">
                <label><span>{{ 'E51.003' | i18n }}</span></label>
                <div class="tag-wrapper">
                    <div class="item_tag">
                        <label>
                            <input type="checkbox" value="1" name="q1"/>
                            <span>{{ 'E51.004' | i18n }}</span>
                        </label>
                    </div>
                    <div class="item_tag">
                        <label>
                            <input type="checkbox" value="2" name="q1"/>
                            <span>{{ 'E51.005' | i18n }}</span>
                        </label>
                    </div>
                    <div class="item_tag">
                        <label>
                            <input type="checkbox" value="3" name="q1"/>
                            <span>{{ 'E51.006' | i18n }}</span>
                        </label>
                    </div>
                    <div class="item_tag">
                        <label>
                            <input type="checkbox" value="4" name="q1"/>
                            <span>{{ 'E51.007' | i18n }}</span>
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12">
            <div class="form-group">
                <label><span>{{ 'E51.008' | i18n }}</span></label>
                <div class="tag-wrapper">
                        <div class="item_tag">
                            <label>
                                <input type="radio" value="1" name="q2"/>
                                <span>{{ 'E51.009' | i18n }}</span>
                            </label>
                        </div>
                        <div class="item_tag">
                            <label>
                                <input type="radio" value="0" name="q2"/>
                                <span>{{ 'E51.010' | i18n }}</span>
                            </label>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label><span>{{ 'E51.011' | i18n }}</span></label>
                <div class="tag-wrapper">
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="1" name="q3"/><span>{{ 'E51.012' | i18n }}</span>
                        </label>
                        </div>
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="2" name="q3"/><span>{{ 'E51.013' | i18n }}</span>
                        </label>
                        </div>
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="3" name="q3"/><span>{{ 'E51.014' | i18n }}</span>
                        </label>
                        </div>
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="4" name="q3"/><span>{{ 'E51.015' | i18n }}</span>
                        </label>
                        </div>
                </div>
            </div>

        </div>

        <div class="col-12">
            <div class="form-group">
                <label><span>{{ 'E51.016' | i18n }}</span></label>
                <div class="tag-wrapper">
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="1" name="q4"/><span>{{ 'E51.017' | i18n }}</span>
                        </label>
                        </div>
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="2" name="q4"/><span>{{ 'E51.018' | i18n }}</span>
                        </label>
                        </div>
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="3" name="q4"/><span>{{ 'E51.019' | i18n }}</span>
                        </label>
                        </div>
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="4" name="q4"/><span>{{ 'E51.020' | i18n }}</span>
                        </label>
                        </div>
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="5" name="q4"/><span>{{ 'E51.021' | i18n }}</span>
                        </label>
                        </div>
                        <div class="item_tag">
                        <label>
                            <input type="checkbox" value="6" name="q4"/><span>{{ 'E51.022' | i18n }}</span>
                        </label>
                        </div>
                </div>
            </div>

        </div>

        <div class="col-12">
            <div class="form-group">
                <label><span>{{ 'E51.023' | i18n }}</span></label>
                <div class="tag-wrapper">
                        <div class="item_tag">
                          <label>
                              <input type="checkbox" value="1" name="q5"/><span>{{ 'E51.024' | i18n }}</span>
                          </label>
                        </div>
                        <div class="item_tag">
                          <label>
                              <input type="checkbox" value="2" name="q5"/><span>{{ 'E51.025' | i18n }}</span>
                          </label>
                        </div>
                        <div class="item_tag">
                          <label>
                              <input type="checkbox" value="3" name="q5"/><span>{{ 'E51.026' | i18n }}</span>
                          </label>
                        </div>
                        <div class="item_tag">
                          <label>
                              <input type="checkbox" value="4" name="q5"/><span>{{ 'E51.027' | i18n }}</span>
                          </label>
                        </div>
                </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
                <label><span>{{ 'E51.028' | i18n }}</span></label>
                <div class="tag-wrapper">
                        <div class="item_tag">
                          <label>
                              <input type="checkbox" value="1" name="q6"/><span>{{ 'E51.029' | i18n }}</span>
                          </label>
                        </div>
                        <div class="item_tag">
                          <label>
                              <input type="checkbox" value="2" name="q6"/><span>{{ 'E51.030' | i18n }}</span>
                          </label>
                        </div>
                        <div class="item_tag">
                          <label>
                              <input type="checkbox" value="3" name="q6"/><span>{{ 'E51.031' | i18n }}</span>
                          </label>
                        </div>
                        <div class="item_tag">
                          <label>
                              <input type="checkbox" value="4" name="q6"/><span>{{ 'E51.032' | i18n }}</span>
                          </label>
                        </div>
                </div>
            </div>
          </div>

        <div class="col-12">
            <div class="form-group">
                <label><span>{{ 'E51.033' | i18n }}</span></label>
                <div class="tag-wrapper">
                        <div class="item_tag">
                            <label>
                                <input type="radio" value="1" name="q7"/>
                                <span>{{ 'E51.009' | i18n }}</span>
                            </label>
                        </div>
                        <div class="item_tag">
                            <label>
                                <input type="radio" value="0" name="q7"/>
                                <span>{{ 'E51.010' | i18n }}</span>
                            </label>
                        </div>
                </div>
            </div>
        </div>


      </div>

      <div class="center">
          <button type="submit" class="btn-golden">{{ 'E51.036' | i18n }}</button>
      </div>
      

  </form>

</div>