<div class="raw base content bg_gray">

  <div class="lock">
      
  </div>
  <!-- Form -->
  <form style="padding-bottom: 3rem;" autocomplete="off" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

      <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label>{{ 'E41.002' | i18n }}</label>
                  <input type="password" class="form-control" placeholder="{{ 'E41.003' | i18n }}"
                  formControlName="OldPwd" maxlength="16" inputlitmit required>
                  <span class="help-block" 
                  *ngIf="!(mainForm.get('OldPwd').valid || mainForm.get('OldPwd').pristine)">{{ 'A16.014' | i18n }}</span>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label>{{ 'E41.004' | i18n }}</label>
                  <input type="password" class="form-control" placeholder="{{ 'A16.014' | i18n }}"
                  formControlName="NewPwd" maxlength="16" inputlitmit required>
                  <span class="help-block" 
                  *ngIf="!(mainForm.get('NewPwd').valid || mainForm.get('NewPwd').pristine)">{{ 'A16.014' | i18n }}</span>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="form-group">
                  <label>{{ 'E41.006' | i18n }}</label>
                  <input type="password" class="form-control" placeholder="{{ 'E41.007' | i18n }}"
                  formControlName="PwdCheck" maxlength="16" inputlitmit required>
                  <span class="help-block" 
                  *ngIf="!(mainForm.get('PwdCheck').valid || mainForm.get('PwdCheck').pristine)">{{ 'A16.014' | i18n }}</span>
              </div>
          </div>
      </div>
      
      <div class="center" style="margin-top: 1rem;">
          <button type="submit" class="btn-golden" [disabled]="!mainForm.valid">{{ 'E41.008' | i18n }}</button>
      </div>
  </form>

</div>