<div class="raw menu">

        <div class="personInfo">
            <div class="pimg">
              <div class="pimgArea" [style.background-image]="'url(' + fileUrl + ')'">
                <!-- <img [src]="fileUrl"/> -->
             </div>
              <ng-container *ngIf="menuHidden">
                <label for="updimg"  (click)="UploadHandler()">
                  <i class="img_add"></i>
                </label>
              </ng-container>
            </div>

            <ng-container *ngIf="!menuHidden">
                <div class="name">
                    <a routerLink="/layout/login">{{ 'E11.002' | i18n }}</a>
                  </div>
            </ng-container>
            
            <ng-container *ngIf="menuHidden">
              <!-- <div class="name">{{UserData.Name}}</div> -->
              <div class="name" (click)="Logout()">{{ 'E11.001' | i18n }}</div>
              <span>{{UserData.Act}}</span>
            </ng-container>
            
        </div>
  
          <ul class="main_menu">
            <li>
                <a routerLink="/layout/about">
                  <img src="assets/img/micon1.png"/><span>{{ 'E11.003' | i18n }}</span>
                </a>
            </li>
            <ng-container *ngIf="menuHidden">
                <li>
                    <a routerLink="/layout/person">
                      <img src="assets/img/micon2.png"/><span>{{ 'E11.004' | i18n }}</span>
                    </a>
                </li>
            </ng-container>
            <ng-container *ngIf="menuHidden">
                <li>
                    <a routerLink="/layout/resetpwd">
                        <img src="assets/img/micon3.png"/><span>{{ 'E11.005' | i18n }}</span>
                      </a>
                  </li>
            </ng-container>
            <ng-container *ngIf="menuHidden">
                <li>
                    <a routerLink="/layout/prefer">
                        <img src="assets/img/micon4.png"/><span>{{ 'E11.006' | i18n }}</span>
                      </a>
                  </li>
            </ng-container>
            
            <li>
              <a routerLink="/layout/notice">
                    <img src="assets/img/micon5.png"/><span>{{ 'E11.007' | i18n }}</span>
                </a>
            </li>
            <li>
              <a routerLink="/layout/faq">
                <img src="assets/img/micon6.png"/><span>{{ 'E11.008' | i18n }}</span>
              </a>
            </li>
            <li>
              <a routerLink="/layout/version">
                  <img src="assets/img/micon7.png"/><span>{{ 'E11.010' | i18n }}</span>
              </a>
            </li>
            <!-- <li *ngIf="menuHidden">
              <a (click)="Logout()">
               <img src="assets/img/micon8.png"/><span>登出</span>
              </a>
            </li> -->
            <li>
              <a routerLink="/layout/lang">
               <img src="assets/img/micon8.png"/><span>{{ 'E11.009' | i18n }}</span>
              </a>
            </li>
            
          </ul>
         
  
</div>