

<div class="raw headpadding">
        <div class="terms">
            <div class="info">
              <p>根据以下条款和条件在您与巨石集团(以下称本公司)之间成立合约 (以下称「本协议」)。请仔细阅读本协议内容。确认已瞭解并同意协议内容后，请按一下「同意」。</p>
              <h1>1. 服务简介</h1>
              <p>本协议规范您使用服务（以下称「服务」) 之行为，供您透过服务取得或订阅内容与应用程式(以下称「App」)。使用本服务时，代表您同意依服务登录表提供正确、最新及完整的资料。提供的资料如有错误或不实，本公司得暂停或终止会员身份。同时亦同意您已完全瞭解及接受本约定书之所有约定外，并同意本公司对您的个人资料，为处理或国际传递、利用之权利 。</p>
              <h1>2. 服务范围</h1>
              <p>本服务基于谘询、顾问与产品服务，及其他经营合于本公司旗下企业之营业项目或组织章程所定之业务。</p>
              <h1>3. 个人资料声明</h1>
              <div class="item">
                  <label>甲</label>
                  <div class="content">
                      <p>您加入本App登入会员时，为增加对会员的瞭解，并提供更佳的服务，这些资料将只提供本App及本公司于：</p>
                      <div class="sec_item">
                            <div class="sec">
                                <label>i. </label><p>基金销售、代理、中介之管理，与售后服务</p>
                            </div>
                      </div>
                      <div class="sec_item">
                            <div class="sec">
                                <label>ii. </label><p>保险销售、代理、中介之管理，与售后服务</p>
                            </div>
                      </div>
                      <div class="sec_item">
                            <div class="sec">
                                <label>iii. </label><p>不动产销售、代理、中介之管理，与售后服务</p>
                            </div>
                      </div>
                      <div class="sec_item">
                            <div class="sec">
                                <label>iv. </label><p>公共关係、营销、客户管理、统计调查与分析、资讯与资料库管理之执行、处理及利用等用途。</p>
                            </div>
                      </div>
                      <p>本App得将您的个人资料提供予本公司旗下所属之企业与事业体前揭用途之使用。</p>
                  </div>
              </div>
              <div class="item">
                  <label>乙</label>
                  <div class="content">
                      <p>个人资料系指会员姓名、出生年月日、国民身分证统一编号、护照号码、联络方式、居住地区、财务情况及其他得以直接或间接方式识别该个人之资料。</p>
                  </div>
              </div>
              <div class="item">
                  <label>丙</label>
                  <div class="content">
                      <p>您使用本App所提供之个人资料，本App仅以上述目的、方式、范围内为蒐集、储存、处理、传输及使用，并提供本App于运作期间使用您的个人资料。</p>
                  </div>
              </div>
              <div class="item">
                  <label>丁</label>
                  <div class="content">
                      <p>本App如为了提供您其他服务或优惠权益（例如优惠讯息），需要与提供该服务或优惠之第三者共用您的资料时，会在活动举办或公告同时提供充分说明，并经您同意后方将您的资料传输予第三者，您可以自由选择是否接受这项特定服务或优惠。</p>
                  </div>
              </div>
              <div class="item">
                  <label>戊</label>
                  <div class="content">
                      <p>经由本App所提供或衍生之内容与产品等服务，伺服器会自动记录您所阅读的网页及来自的网域名称，作为内容与系统改进、广告效果评估等依据。前揭资讯，不涉及您个人身份资料，只用来作数据性的统计分析，除供内部参考外，并将提供给广告商及本公司旗下各子公司提取cookie使用，作为广告效果评估之依据。</p>
                  </div>
              </div>
              <div class="item">
                  <label>己</label>
                  <div class="content">
                      <p>除个人资料声明内容或依照相关法律规定外，本App不会将您的个人资料移作本声明以外之其他目的使用。</p>
                  </div>
              </div>

              <h1>4. 个人资料行使之权利</h1>
              <p>本App或本公司所蒐集、处理及利用之个人资料，享有查询或请求阅览、请求製给複製本、请求补充或更正、请求停止蒐集、处理或利用、请求删除之权利。若您欲行使前开权利，请利用本App提供之会员区功能，进行您个人资料的修改与维护，包括要求停止寄发电子报及活动快讯等。但因法令执行职务或业务所必需者，本公司得拒绝之。</p>

              <h1>5. 资料保密性与安全性</h1>
              <p>本App对于所属员工存取您之个人资料有严格规范，并符合法规要求，以保护您个人资料之安全。</p>

              <h1>6. 自我保护认识</h1>
              <p>您使用本App所提供的各项服务功能时，请妥善保管您的密码及或任何个人资料，不要将任何个人资料，尤其是密码提供给任何人，App使用完毕后，务必记得登出帐号。</p>

              <h1>7. 违反条款</h1>
              <p>若违反本服务条款与声明，或将您专属权益让与他人者，本公司得不经催告终止您会员资格，并追究相关之法律责任。</p>

              <h1>8. 其他约定</h1>
              <p>本服务为免费提供，本公司得随时增加、取消或修改本服内容之全部或一部份。</p>
            </div>
        </div>
</div>