<div class="raw base bg_gray">

  <div class="vinfo">
      <label>{{ 'E81.002' | i18n }}</label>
      <span>2.13.3</span>
  </div>
  <div class="vinfo">
      <label>{{ 'E81.003' | i18n }}</label>
      <span>{{deviceInfo}}</span>
  </div>
  <div class="vinfo">
      <label>UUID</label>
      <span>{{uuid}}</span>
  </div>
  <div class="vinfo">
    <label>PushID</label>
    <span>{{pushid}}</span>
</div>

</div>