<!-- <app-loading></app-loading>
<app-pop-confirm></app-pop-confirm>
<app-pop-reset></app-pop-reset>
<router-outlet></router-outlet> -->

<app-loading></app-loading>
<app-pop-confirm></app-pop-confirm>
<!-- <div class="header">
    <a routerLink="/home">{{'home' | i18n:langCode}}</a>
</div> -->
<!-- <div class="routeContent" [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
</div> -->
<router-outlet></router-outlet>
