<div class="raw base content bg_gray">

    <div class="site sminrform" *ngIf="selected">
        <div class="info" style="padding:1rem 0 0.5rem 0">
            <label class="sminrSelct">
                    {{selected.Name}}-{{selected.AreaName}}
                <select *ngIf="Slist" [(ngModel)]="Sid"  (change)="ShowSelect()">
                    <option *ngFor="let item of Slist;" [value]="item.id">
                        {{item.Name}}-{{item.AreaName}}
                    </option>
                    <!-- <option value="2">柬埔寨说明会-台北场2</option> -->
                </select>
            </label>
          
            <p class="date">{{selected.ActDate}} ({{selected.Week}}) {{selected.ActTime}}</p>
            <p class="addr" openMap="{{selected.ActAddr}}">{{selected.ActPosition}} {{selected.ActAddr}}</p>
        </div>
    </div>

    <!-- Form -->
    <form class="sminrPost" *ngIf="mainForm" autocomplete="off" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

            <div class="row">
                
                <div class="col-12">
                    <div class="form-group">
                        <label class="require">{{ 'D331.002' | i18n }}</label>
                        <input type="text" class="form-control" placeholder="{{ 'D331.003' | i18n }}" formControlName="Name" required>
                        <span class="help-block" 
                    *ngIf="!(mainForm.get('Name').valid || mainForm.get('Name').pristine)">{{ 'D331.014' | i18n }}</span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                            <label class="require">{{ 'A15.007' | i18n }}</label>
                            <div class="select-container">
                                <select class="form-control" formControlName="Country" (change)="Prefix()">
                                    <option value="">{{ 'A17.010' | i18n }}</option>
                                    <ng-container *ngIf="Countries">
                                        <option [value]="item.value" *ngFor="let item of Countries;">{{item.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <span class="help-block" 
                              *ngIf="!(mainForm.get('Country').valid || mainForm.get('Country').pristine)">{{ 'D331.014' | i18n }}</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="require">{{ 'E31.009' | i18n }}</label>
                        <div class="col-12">
                            <div class="col-3">
                                <input type="tel" class="form-control" maxlength="4" placeholder="+86" formControlName="Prefix" required/>
                            </div>
                            <div class="col-9" style="margin-left:0.5rem;flex-wrap:wrap;" >
                                <input type="tel" class="form-control" placeholder="{{ 'E31.011' | i18n }}" formControlName="Phone" required/>
                                <span class="help-block" 
                                 *ngIf="!(mainForm.get('Phone').valid || mainForm.get('Phone').pristine)">{{ 'A15.023' | i18n }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                       <label class="require">{{ 'D331.009' | i18n }}</label>
                        <input type="email" class="form-control" placeholder="{{ 'D331.010' | i18n }}" formControlName="Email" [email]="true" required/>
                        <span class="help-block" 
                         *ngIf="!(mainForm.get('Email').valid || mainForm.get('Email').pristine)">{{ 'A15.022' | i18n }}</span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                       <label class="require">{{ 'D331.011' | i18n }}</label>
                       <div class="count">
                           <div class="less" (click)="Less()"></div>
                           <div class="no">{{count}}</div>
                           <div class="add" (click)="Add()"></div>
                       </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                            <label>{{ 'D331.012' | i18n }}</label>
                            <textarea class="form-control" placeholder="{{ 'A15.018' | i18n }}" formControlName="Note" maxlength="250"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="center" style="margin-top: 1rem;">
                <button type="submit" class="btn-golden" [disabled]="!mainForm.valid">{{ 'D331.013' | i18n }}</button>
            </div>
        </form>

 </div>