<div class="raw siteblock">

    <ng-container *ngIf="FirstData && FirstData.id > 0">
        <div class="site">

            <div class="pic">
                <!-- <intro-slider [SourceData]="SeminarData.Img"></intro-slider> -->
                <div class="swiper-container fulfull-sliderlslider" id="device">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let url of FirstData.ImgList;">
                            <img src="{{url}}" />
                        </div>
                        <!-- <div class="swiper-slide">
                            <img src="assets/img/temp/trend.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/img/temp/trend.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/img/temp/trend.jpg" />
                        </div> -->
                    </div>
                    <div class="swiper-pagination device"></div>
                </div>
                <span class="tag">{{FirstData.TypeName}}</span>
            </div>
            <div class="info">
                <h1>{{FirstData.Name}}-{{FirstData.AreaName}}</h1>
                <p class="date">{{FirstData.ActDate}} ({{FirstData.Week}}) {{FirstData.ActTime}}</p>
                <p class="addr" openMap="{{FirstData.ActAddr}}">{{FirstData.ActPosition}} {{FirstData.ActAddr}}</p>
            </div>

        </div>

        <div class="card top_shadow" *ngIf="EstateObj && EstateObj.length > 0">
            <h1 style="font-size: 1.15rem;">{{ 'D32.001' | i18n }}</h1>
            <ng-container  *ngFor="let est of EstateObj">
                <h3 style="font-size: 1rem;">{{est.Name}}</h3>
                <div class="col-12">
                    <div class="btn btn-outline-golden pshare" routerLink="/layout/estate/item/{{est.id}}">{{ 'D32.002' | i18n }}</div>
                </div>
            </ng-container>
            
        </div>

        <div class="card top_shadow schedule">
            <h3>{{ 'D32.003' | i18n }}</h3>
            <p class="innerhmtl" [innerHtml]="FirstData.Detail | htmlHandle"></p>

            <ng-container *ngIf="Process && Process.length > 0">
                <h3>{{ 'D32.004' | i18n }}</h3>
                <ul>
                    <li *ngFor="let pros of Process">
                        <i class="line"></i><span class="time">{{pros.title}}</span>{{pros.desc}}
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="Traffic && Traffic.length > 0">
                <h3>{{ 'D32.005' | i18n }}</h3>
                <div class="around" *ngFor="let traf of Traffic">
                    <img class="icon" [src]="traf.img" />
                    <div>
                        <label>{{traf.title}}</label>
                        <span>{{traf.desc}}</span>
                    </div>
                </div>
            </ng-container>  
            
        </div>
        <!-- <div class="card top_shadow schedule">
            <h3>活动介绍</h3>
            <p class="gray">经济学大师魏启林教授剖析柬埔寨投资趋势，并为金边新案「毕加索PICASSO CITY GARDEN」举办全球首卖发表。</p>
            <p class="gray">亚洲唯一取得艺术大师「毕卡索」品牌授权之名宅 - 毕卡索城市花园。</p>
            <h3>活动流程</h3>
            <ul>
                <li><i class="line"></i><span class="time">16:00</span>毕加索PICASSO CITY GARDEN介紹</li>
                <li><i class="line"></i><span class="time">17:00</span>魏启林教授剖析柬埔寨投资趋势魏启林教授剖析柬埔寨投资趋势</li>
                <li><i class="line"></i><span class="time">18:00</span>全球首卖发表</li>
                <li><i class="line"></i><span class="time">19:00</span>媒體交流</li>
                <li><i class="line"></i><span class="time">20:00</span>Q&A</li>
            </ul>
            <h3>如何前往</h3>
            <div class="around">
                <img class="icon" src="assets/img/temp/tras.png" />
                <div>
                    <label>大众运输</label>
                    <span>orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor</span>
                </div>
            </div>
            <div class="around">
                <img class="icon" src="assets/img/temp/car.png" />
                <div>
                    <label>自行开车</label>
                    <span>orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor</span>
                </div>
            </div>
        </div> -->

    </ng-container>
    <ng-container *ngIf="SeminarData && SeminarData.length > 0">
        <div class="card top_shadow">

            <h3>{{ 'D32.006' | i18n }}</h3>

            <div class="swiper-container sminrslider" id="floor">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let item of SeminarData;">
                        <div class="sminrcmd" routerLink="/layout/seminar/detail/{{item.id}}">
                            <img src="{{item.Img}}" />
                            <div class="info">
                                <h3>{{item.Name}} - {{item.AreaName}}</h3>
                                <span class="date">{{item.ActDate}} ({{item.Week}}) {{item.ActTime}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="swiper-slide">
                        <div class="sminrcmd">
                            <img src="assets/img/temp/around8.png" />
                            <div class="info">
                                <h3>地产投资交流会</h3>
                                <span class="date">2019/06/29 (六)</span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>


        </div>
    </ng-container>
    <div class="share" *ngIf="FirstData">
        <div class="col-6">
            <!-- <div class="btn btn-outline-golden" shareUrl="type=seminar&id={{FirstData.id}}">分享</div> -->
            <div class="btn btn-outline-golden" (click)="ShareEvt()">{{ 'D32.007' | i18n }}</div>
        </div>
        <div class="col-6">
            <div class="btn btn-golden" routerLink="/layout/seminar/Sign/{{FirstData.id}}">{{ 'D32.008' | i18n }}</div>
        </div>
    </div>

</div>