<div class="raw siteblock headpadding">
    <label class="typeSelect">
        {{this.typename}}
        <select id="option_select" [(ngModel)]="optiontype" (ngModelChange)="optionchange()">
            <option value="">{{ 'D31.006' | i18n }}</option>
            <ng-container *ngIf="ActOptionData && ActOptionData.length >0">
                <option value={{item.value}} *ngFor="let item of ActOptionData;">{{item.name}}</option>
            </ng-container>
        </select>
    </label>
    <label class="siteSelect">
        {{sessionname}}
        <select id="session_select" [(ngModel)]="sessiontype" (ngModelChange)="sessionchange()">
            <option value="">{{ 'D31.007' | i18n }}</option>
            <ng-container *ngIf="ActSessionData && ActSessionData.length >0">
                <option value={{item.value}} *ngFor="let item of ActSessionData;">{{item.name}}</option>
            </ng-container>
        </select>
    </label>
    <ng-container *ngIf="FirstActData && FirstActData.id >0">
        <div class="site" routerLink="/layout/seminar/detail/{{FirstActData.id}}">

            <div class="pic" >
                <img src="{{FirstActData.Img}}" />
                <span class="tag">{{FirstActData.TypeName}}</span>
            </div>
            <div class="info">
                <h1>{{FirstActData.Name}} - {{FirstActData.AreaName}}</h1>
                <p class="date">{{FirstActData.ActDate}} ({{FirstActData.Week}}) {{FirstActData.ActTime}}</p>
                <p class="addr" openMap="{{FirstActData.ActAddr}}">{{FirstActData.ActPosition}} {{FirstActData.ActAddr}}</p>
                <p>
                    {{FirstActData.Brief}}
                </p>
            </div>

        </div>
    </ng-container>
    <div class="card top_shadow">
        <ng-container *ngIf="ActData && ActData.length > 0">

            <div class="site_info" *ngFor="let item of ActData;" routerLink="/layout/seminar/detail/{{item.id}}">
                <div class="img">
                    <img src="{{item.Img}}" />
                    <span>{{item.TypeName}}</span>
                </div>
                <div class="info">
                    <h3>{{item.Name}} - {{item.AreaName}}</h3>
                    <span class="date">{{item.ActDate}} ({{item.Week}}) {{item.ActTime}}</span>
                    <span>{{item.ActPosition}} {{item.ActAddr}}</span>
                </div>
            </div>
        </ng-container>
        
        <!-- <div class="site_info" routerLink="/layout/seminar/detail">
            <div class="img">
                <img src="assets/img/temp/trd2.png" />
                <span>活动</span>
            </div>
            <div class="info">
                <h3>柬埔寨活动</h3>
                <span class="date">2019/06/29 (六)</span>
                <span>台北寒舍艾丽酒店 台北市信義區松高路18號 6F</span>
            </div>
        </div>
        <div class="site_info" routerLink="/layout/seminar/detail">
            <div class="img">
                <img src="assets/img/temp/trd2.png" />
                <span>講座</span>
            </div>
            <div class="info">
                <h3>柬埔寨活动</h3>
                <span class="date">2019/06/29 (六)</span>
                <span>台北寒舍艾丽酒店 台北市信義區松高路18號 6F</span>
            </div>
        </div>
        <div class="site_info" routerLink="/layout/seminar/detail">
            <div class="img">
                <img src="assets/img/temp/trd2.png" />
                <span>考察</span>
            </div>
            <div class="info">
                <h3>柬柬埔寨参访</h3>
                <span class="date">2019/06/29 (六)</span>
                <span>台北寒舍艾丽酒店 台北市信義區松高路18號 6F</span>
            </div>
        </div> -->

    </div>
    <ng-container *ngIf="FirstActData == null">
        <div class="nodata">
            <div>
                <img src="assets/img/noData.png"/>
                <div>{{ 'D21.008' | i18n }}</div>
            </div>
        </div>
    </ng-container>

</div>