<div id="initview" class="{{bgviewclass}}"></div>
<video id="myVideo" class="animated fadeIn"
 loop muted autoplay playsinline>>
        <source src="assets/bg.mov" type="video/mp4">
</video>
  
<div class="init">
    <div class="center">
    <img src="assets/img/logo2.png" />
    <h5>Titan Stone</h5>
    <h3>{{ 'A10.001' | i18n }}</h3>
    <h6>{{ 'A10.002' | i18n }}</h6>
    <a (click)="init()" id="toHome">
        <img src="assets/img/arrow.svg" width="25px" />
    </a>
    </div>
</div>