<div class="raw trendblock headpadding" style="padding-bottom: 0t">
    <ng-container *ngIf="newsfirst && newsfirst.ID > 0">
        <div class="trend" routerLink="/layout/news/detail/{{newsfirst.ID}}">
            <div class="pic">
                <img src="{{newsfirst.ImageUrl}}" />
            </div>
            <div class="info" >
                <h1>{{newsfirst.Title}}</h1>
                <p class="tag">{{newsfirst.Author}}</p>
                <p class="tag">{{newsfirst.PublicDate}} ({{newsfirst.Week}})</p>
                <p class="brief">
                    {{newsfirst.Brief}}
                </p>
            </div>
        </div>
        <ng-container *ngIf="newslist && newslist.length > 0">
            <div class="card top_shadow">
                <ng-container *ngFor="let item of newslist;">
                        <div class="trd_info" routerLink="/layout/news/detail/{{item.ID}}">
                            <div class="img">
                                <img src="{{item.ImageUrl}}" />
                            </div>
                            <div class="info">
                                <h3>{{item.Title}}</h3>
                                <span>{{item.PublicDate}} ({{item.Week}})</span>
                            </div>
                        </div>
                </ng-container>
                
                <!-- <div class="trd_info" routerLink="/layout/news/detail">
                <div class="img">
                    <img src="assets/img/temp/trd2.png" />
                </div>
                <div class="info">
                    <h3>出来借的总要还 2021年中国地产商偿债规模上看1兆人民币</h3>
                    <span>2019/6/24</span>
                </div>
            </div>

            <div class="trd_info" routerLink="/layout/news/detail">
                <div class="img">
                    <img src="assets/img/temp/trd2.png" />
                </div>
                <div class="info">
                    <h3>出来借的总要还 2021年中国地产商偿债规模上看1兆人民币</h3>
                    <span>2019/6/24</span>
                </div>
            </div>

            <div class="trd_info" routerLink="/layout/news/detail">
                <div class="img pre"></div>
                <div class="info pre">
                    <span class="pre"></span>
                    <span class="pre"></span>
                    <span class="pre"></span>
                    <span class="pre"></span>
                </div>
            </div>
            <div class="trd_info" routerLink="/layout/news/detail">
                <div class="img pre"></div>
                <div class="info pre">
                    <span class="pre"></span>
                    <span class="pre"></span>
                    <span class="pre"></span>
                    <span class="pre"></span>
                </div>
            </div>
            <div class="trd_info" routerLink="/layout/news/detail">
                <div class="img pre"></div>
                <div class="info pre">
                    <span class="pre"></span>
                    <span class="pre"></span>
                    <span class="pre"></span>
                    <span class="pre"></span>
                </div>
                
            </div> -->
            <!-- <ng-container *ngIf="this.isload">
                <div class="pload"></div>
            </ng-container> -->
            </div>
        </ng-container>

       <ng-container *ngIf="newsfirst == null">
             <div class="nodata">
                <div>
                    <img src="assets/img/noData.png"/>
                    <div>{{ 'D21.008' | i18n }}</div>
                </div>
            </div>
        </ng-container>

    </ng-container>
</div>