<div class="raw trendblock">
    <ng-container *ngIf="newsData && newsData.ID > 0">
        <div class="trend" onclick="route()">
            <div class="pic">
                <img src="{{newsData.ImageUrl}}" />
            </div>

            <div class="info">
                <h1>{{newsData.Title}}</h1>
                <p class="tag">{{newsData.PublicDate}} ({{newsData.Week}})</p>
                <div class="content">
                    <!-- <p>
                        {{newsData.Brief}}
                    </p> -->
                    <!-- <img src="" /> -->
                    <div class="content innerhmtl" [innerHtml]="newsData.Detail | htmlHandle"></div>

                    <!-- <span>资料来源: wind，中国地产企业境内举债融资规模</span>
                    <p>
                    2019 年以来，中国地产企业融资出现一波高峰，虽然这一波的融资潮为这些地产开发商纾缓资金面的压力，但换句话说，密集的举债也显示出这些房地产企业面临沉重的资金压力。
                    </p>
                    <span>资料来源: 钜享网</span> -->
                </div>
            </div>

        </div>

        <div class="card">
            <div class="ctrl">
                <div class="pre" *ngIf="newsData.BeforeID"
                routerLink="/layout/news/detail/{{newsData.BeforeID}}">{{ 'D22.002' | i18n }}</div>
                <div *ngIf="newsData.BeforeID == ''"></div>
                <ng-container *ngIf="newsData.AfterID">
                    <div class="next" (click)="After(newsData.AfterID)" >{{ 'D22.003' | i18n }}</div>
                </ng-container>
            </div>
        </div>

        <div class="share">
            <div class="col-12">
                <!-- <div class="btn btn-outline-golden" shareUrl="type=news&id={{newsData.ID}}">分享</div> -->
                <div class="btn btn-outline-golden" (click)="ShareEvt()">{{ 'D22.004' | i18n }}</div>
            </div>
        </div>
    </ng-container>
</div>