<div class="raw basic">

    <div class="tool" *ngIf="ListData.length > 0">
      <div (click)="AllRead()"><i class="read"></i>{{ 'A13.002' | i18n }}</div>
      <div (click)="AllDel()"><i class="del"></i>{{ 'A13.003' | i18n }}</div>
    </div>

    <div class="card" style="padding-top: 3rem;">

        <div class="empty" *ngIf="ListData.length == 0">
          <img src="assets/img/empty.png">
        </div>
        <h1 class="emptilte" *ngIf="ListData.length == 0">{{ 'A131.001' | i18n }}</h1>
        <ng-container *ngIf="ListData.length > 0">
            <ng-container *ngFor="let item of ListData;let _index = index;">
                <div class="ntsitem {{(item.read) ? '' : 'unread'}}"  (click)="Read(item,_index)">
                    <span class="date">{{item.date}}</span>
                    <label>{{item.title}}</label>
                    <span>{{item.content}}</span>
                </div>  
            </ng-container>
        </ng-container>
        
        <!-- <div class="ntsitem unread">
            <label>系统</label>
            <span>通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知</span>
        </div> -->

    </div>

</div>