<div class="swiper-container" id="init">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="init" src="assets/img/temp/banner1A.png"/>
            </div>
            <div class="swiper-slide">
                <img class="init" src="assets/img/temp/banner2A.png"/>
            </div>
            <div class="swiper-slide">
                <img class="init" src="assets/img/temp/banner3A.png"/>
            </div>
            <div class="swiper-slide">
                <img class="init" src="assets/img/temp/banner4A.png"/>
            </div>
        </div>
        <div class="swiper-pagination init-pagination"></div>
</div>
<div class="covermsg">
    <h1 id="init_title">{{ 'A11.001' | i18n }}</h1>
    <p  id="init_msg">{{ 'A11.002' | i18n }}</p>
    <div class="col-12" style="padding:0 1.15rem;margin-top: 9vh;">
       <div routerLink="/layout/regist" class="btn btn-golden">{{ 'A11.009' | i18n }}</div>
    </div>
    <a routerLink="/layout/login" class="init_a">{{ 'A11.010' | i18n }}</a>
    <a routerLink="/layout/home" class="init_a">{{ 'A11.011' | i18n }}</a>
</div>